{% extends '/views/layouts/main.twig' %}
{% set breadcrumbs = [
	{
		link: '/',
		text: 'Главная'
	},
	{
		active: true,
		text: 'Галерея'
	}
] %}

{% block head %}
	<link rel="stylesheet" type="text/css"
	      href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
{% endblock head %}

{% block content %}
	<section class="page gallery _padding">
		<div class="container">
			{% include "/views/modules/breadcrumbs.twig" %}
			<h1 class="page__title h1">Галерея</h1>
			<div class="row gallery__list">
				{% for item in images %}
					<div class="col-12 col-sm-6 col-lg-4">
						<a href="{{ item.getImage }}" class="gallery__item js-fancybox" data-fancybox="gallery">
							{{ ImgHelper.img(item.getSmallImage) }}
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock content %}