{% extends '/views/layouts/main.twig' %}
{% block openGraph %}
	{{
	app.openGraph
	.title(service.title)
	.description(service.shortDescription)
	.image(service.getImage)
	.type('product')
	| raw
	}}
{% endblock %}
{% import "/views/macros/prices.twig" as prices_block %}
{% import "/views/macros/form.twig" as form %}
{% import "/views/macros/input.twig" as input %}
{% import "/views/macros/table.twig" as table %}
{% import "/views/macros/modal-form.twig" as modal %}

{% if service.level == 2 %}
	{% set breadcrumbs = [
		{
			link: '/',
			text: 'Главная'
		},
		{
			active: true,
			text: service.title
		}
	] %}
{% else %}
	{% set breadcrumbs = [
		{
			link: '/',
			text: 'Главная'
		},
		{
			link: service.parent().find().getUrl(),
			text: service.parent().find().title
		},
		{
			active: true,
			text: service.title
		}
	] %}
{% endif %}

{% set prices = {
	title: service.priceBlockTitle ? service.priceBlockTitle : 'Цена аренды опалубки стен за&nbsp;м2',
	head: [
		'Сроки',
		'Цена'
	],
	body: service.getServicePriceItems()
} %}

{% set formTitle = (service.parent().find().title == 'Продажа опалубки') ? 'Заказать опалубку' : 'Заказать аренду опалубки' %}


{% set freeFormWithQuestions = {
	title: 'Остались вопросы?',
	subtitle: 'Заполните форму, и мы перезвоним вам в ближайшее время',
	class: 'free-form product-free-form',
	action: app.createUrl('/callback'),
	onSubmit: 'yaCounter25657856.reachGoal("Zakaz_zvn");',
	submit: 'Отправить',
	fields: [
		{
			name: 'CallbackForm[name]',
			type: 'text',
			placeholder: 'Ваше имя',
			required: true
		},
		{
			name: 'CallbackForm[phone]',
			type: 'tel',
			mod: 'v-phone',
			placeholder: 'Телефон',
			required: true
		},
		{
			name: 'CallbackForm[type]',
			type: 'hidden',
			value: 'free_call',
			required: true
		},
		{
			name: 'g-recaptcha-response',
			type: 'hidden',
			mod: 'token g-recaptcha',
		}
	]
} %}

{% set rentForm = {
	title: service.formTitle ? service.formTitle : formTitle,
	class: 'rent-form',
	action: app.createUrl('/callback'),
	submit: 'Заказать',
	onSubmit: 'yaCounter25657856.reachGoal("Raschet");',
	fields: [
		{
			name: 'CallbackForm[name]',
			type: 'text',
			placeholder: 'Ваше имя',
			required: true
		},
		{
			name: 'CallbackForm[email]',
			type: 'email',
			placeholder: 'Ваш e-mail',
		},
		{
			name: 'CallbackForm[phone]',
			type: 'tel',
			mod: 'v-phone',
			placeholder: 'Телефон',
			required: true
		},
		{
			name: 'CallbackForm[type]',
			type: 'hidden',
			value: 'request',
			required: true
		},
		{
			name: 'CallbackForm[category]',
			type: 'hidden',
			value: service.parent().find().title,
			required: true
		},
		{
			name: 'CallbackForm[product]',
			type: 'hidden',
			value: service.title,
			required: true
		},
		{
			name: 'g-recaptcha-response',
			type: 'hidden',
			mod: 'token g-recaptcha',
		}
	]
} %}


{% set modalRequestForm = {
	title: service.requestFormTitle ? service.requestFormTitle : formTitle,
	class: 'row',
	action: app.createUrl('/callback'),
	submit: 'Отправить',
	onSubmit: 'yaCounter25657856.reachGoal("Otpr_zayv");',
	attach: true,
	fields: [
		{
			name: 'CallbackForm[name]',
			type: 'text',
			placeholder: 'Ваше имя',
			required: true
		},
		{
			name: 'CallbackForm[phone]',
			type: 'tel',
			mod: 'v-phone',
			placeholder: 'Телефон',
			required: true
		},
		{
			name: 'CallbackForm[email]',
			type: 'email',
			placeholder: 'Ваш e-mail',
		},
		{
			name: 'CallbackForm[comment]',
			type: 'textarea',
			placeholder: 'Комментарий',
		},
		{
			name: 'CallbackForm[type]',
			type: 'hidden',
			value: 'request',
			required: true
		},
		{
			name: 'CallbackForm[category]',
			type: 'hidden',
			value: service.parent().find().title,
			required: true
		},
		{
			name: 'CallbackForm[product]',
			type: 'hidden',
			value: service.title,
			required: true
		},
		{
			name: 'g-recaptcha-response',
			type: 'hidden',
			mod: 'token g-recaptcha',
		}
	]
} %}

{% set freeForm = {
	title: 'Бесплатная консультация',
	class: 'free-form',
	action: app.createUrl('/callback'),
	onSubmit: 'yaCounter25657856.reachGoal("Zakaz_zvn");',
	submit: 'Заказать',
	fields: [
		{
			name: 'CallbackForm[name]',
			type: 'text',
			placeholder: 'Ваше имя',
			required: true
		},
		{
			name: 'CallbackForm[email]',
			type: 'email',
			placeholder: 'Ваш e-mail',
			required: true
		},
		{
			name: 'CallbackForm[phone]',
			type: 'tel',
			mod: 'v-phone',
			placeholder: 'Телефон',
			required: true
		},
		{
			name: 'CallbackForm[type]',
			type: 'hidden',
			value: 'free_call',
			required: true
		},
		{
			name: 'g-recaptcha-response',
			type: 'hidden',
			mod: 'token g-recaptcha',
		}
	]
} %}

{% set rentList =
	{
		title: service.isRent() ? 'Виды аренды' : 'Виды продажи',
		arr: app.controller.getServicesBlock(service)
	}
%}

 {% set rentTable = {
	 title: 'Стоимость аренды опалубки в Москве и области',
	 isRent: service.isRent(),
	 head: service.priceTable.head,
	 body: service.priceTable.body
 } %}

 {% set sellTable = {
	 title: 'Стоимость покупки',
	 isRent: service.isRent(),
	 head: service.sellPriceTable.head,
	 body: service.sellPriceTable.body
 } %}

{% block content %}
	<section class="page product">
		{% include "/views/service/blocks/_head.twig" %}
		<div class="container">
			<div class="product__body">
				<div class="row">
					<div class="col-12">
						{{ service.shortDescriptionAfterHead|raw }}
					</div>
				</div>
			</div>
			{{table.rent_table(prices)}}
		</div>
		<noindex>
			{% if service.level < 4 %}
				{% include "/views/modules/rent.twig" %}
			{% endif %}
			{% include "/views/service/blocks/_conditions.twig" %}
			{% include "/views/service/blocks/_delivery_info.twig" with {form: modalRequestForm} %}
			{% include "/views/service/blocks/_payments.twig" %}
		</noindex>
	</section>
	<noindex>
		{% include "/views/modules/work-order.twig" %}
		{% include "/views/service/blocks/_rent.twig" %}
		<div class="product__page-form container">
			{{form.page_form(rentForm)}}
		</div>
	</noindex>
	<section class="product-contains">
		<div class="container">
			{{ service.description|raw }}
		</div>
	</section>
	{% if service.priceTable.body %}
		<div class="container">
			{{table.rent_table(rentTable)}}
		</div>
	{% endif %}
	{% if service.sellPriceTable.body %}
		<div class="container">
			{{table.rent_table(sellTable)}}
		</div>
	{% endif %}
	{% if service.advancedDescription %}
		<section class="product-article">
			<div class="container">
				{{ service.advancedDescription|raw }}
			</div>
		</section>
	{% endif %}
	<noindex>
		{% include "/views/modules/best.twig" %}
		{{form.page_form(freeFormWithQuestions)}}
		{% include "/views/modules/socials-share.twig" %}
	</noindex>
{% endblock content %}