{% extends '/views/layouts/main.twig' %}
{% import "/views/macros/form.twig" as form %}
{% block openGraph %}
	{{
	app.openGraph
		.title(service.title)
		.image(service.getImage)
		.type('brand')
	| raw
	}}
{% endblock %}
{% set breadcrumbs = [
	{
		link: '/',
		text: 'Главная'
	},
	{
		active: true,
		text: service.title
	}
] %}

{% set freeForm = {
	id: 'freeForm',
	title: 'Бесплатная консультация',
	class: 'free-form',
	action: app.createUrl('/callback'),
	onSubmit: 'yaCounter25657856.reachGoal("Zakaz_zvn");',
	method: 'post',
	submit: 'Заказать',
	fields: [
		{
			name: 'CallbackForm[name]',
			type: 'text',
			placeholder: 'Ваше имя',
			required: true
		},
		{
			name: 'CallbackForm[email]',
			type: 'email',
			placeholder: 'Ваш e-mail',
			required: true
		},
		{
			name: 'CallbackForm[phone]',
			type: 'tel',
			mod: 'js-phone',
			placeholder: 'Телефон',
			required: true
		},
		{
			name: 'CallbackForm[type]',
			type: 'hidden',
			value: 'free_call',
			required: true
		},
		{
			name: 'CallbackForm[category]',
			type: 'hidden',
			value: service.parent().find().title,
			required: true
		},
		{
			name: 'CallbackForm[product]',
			type: 'hidden',
			value: service.title,
			required: true
		},
		{
			name: 'g-recaptcha-response',
			type: 'hidden',
			mod: 'token g-recaptcha',
		}
	]
} %}

{% block content %}
	<section class="page">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-9">
					{% include "/views/modules/breadcrumbs.twig" %}
					<h1 class="page__title h1">{{ service.title }}</h1>
					{% if service.getImage() %}
						{{ ImgHelper.img(service.getImage(), 'page__img') }}
					{% endif %}
				</div>
				<div class="col-12 col-md-9 col-lg-8">
					{{ service.description|raw }}
				</div>
			</div>

		</div>
		{{form.page_form(freeForm)}}
	</section>
{% endblock content %}