{% macro build(pages, url) %}
	{% for page in pages %}
		<li class="dd-item dd3-item" data-id="{{ page.id }}">
			<div class="dd-handle dd3-handle">{{ page.title }}</div>
			<div class="dd3-content">
				<a href="{{ (url~'/'~page.slug)|replace({'//': '/'}) }}">{{ page.title }}</a>
				<a href="{{ app.createUrl('/admin/pages/add', {'root': page.id}) }}" class="btn btn-xs"><i class="icon-plus"></i></a>
				<a href="{{ app.createUrl('/admin/pages/edit', {'root': page.id}) }}" class="btn btn-xs"><i class="icon-edit"></i></a>
				<a href="{{ app.createUrl('/admin/pages/delete', {'root': page.id}) }}"
				   onclick="if(!confirm('Вы действительно хотите удалить {{ item.name }}?')) return false;"
				   class="btn btn-xs"><i class="icon-remove"></i></a>
			</div>
			<div class="dd-handle dd3-handle">

			</div>
			{% if page.children().findAll() %}
				{% set url = url~service.slug %}
				<ol class="dd-list">
					{{ _self.build(page.children().findAll(), url) }}
				</ol>
				{% set url = '/' %}
			{% endif %}
		</li>
	{% endfor %}
{% endmacro %}