{% extends 'modules/admin/views/layouts/main.twig' %}

{% set title = this.setPageTitle('Структура сайта') %}
{% set bread = this.setBreadCrumbs({ 'Структура сайта': '/admin/pages'}) %}
{% import "modules/admin/views/pages/_tree.twig" as tree %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			{% if app.user.hasFlash('success') %}
				<div class="alert alert-success">
					{{ app.user.getFlash('success') }}
				</div>
			{% endif %}
			{% if app.user.hasFlash('error') %}
				<div class="alert alert-warning">
					{{ app.user.getFlash('error') }}
				</div>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="dd" id="nestable3">
				<ol class="dd-list">
					{{ tree.build(pages, '') }}
				</ol>
			</div>
		</div>
	</div>
{% endblock %}