<section class="about-block">
    <div class="container">
        <h2 class="about-block__title h2">О компании</h2>
        <div class="abount__inner">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 order-md-1">
                    <div class="about-block__desc-wrap">
                        <p class="about-block__desc">
                            &laquo;Московская Монолитная Компания&raquo; более 10&nbsp;лет занимается продажей
                            и&nbsp;арендой
                            опалубки в&nbsp;Москве и&nbsp;Московской области. Наши постоянные клиенты&nbsp;&mdash;
                            крупные
                            строительные организации, которые возводят многоэтажные жилые дома, технические, торговые
                            и&nbsp;общественные объекты. Мы&nbsp;уверены в&nbsp;качестве продукции из&nbsp;нашего
                            каталога,
                            потому что сотрудничаем с&nbsp;лучшими производителями опалубки для монолитного
                            строительства: Doka,
                            &laquo;Гамма&raquo;, &laquo;МЕКОС&raquo;.
                        </p>
                        <p class="about-block__desc">
                            Заключая договор с&nbsp;нами, вы&nbsp;приобретаете надежного партнера, ответственного
                            и&nbsp;квалифицированного поставщика металлической опалубки. Чтобы узнать подробную
                            информацию,
                            свяжитесь с&nbsp;нами по&nbsp;телефону, указанному на&nbsp;сайте. Для вашего удобства,
                            мы&nbsp;работаем с&nbsp;9:00 до&nbsp;19:00&nbsp;часов, без перерывов и&nbsp;выходных.
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>