{% set advantagesRent = [
    {
        title: 'Создание сложных конструкций',
        desc: [
            '<span>Большой диапазон размеров</span> позволит вам с&nbsp;легкостью комбинировать мелкощитовую и&nbsp;крупнощитовую
            опалубки. В&nbsp;наличии&nbsp;&mdash; замки и&nbsp;переходные элементы для качественного соединения разных
            типов конструкций.'
        ],
	    img: '/img/advantages/advantage1.jpg'
    },
    {
        title: 'Сокращение издержек предприятия',
        desc: [
            '<span>Не&nbsp;нужно оплачивать полную рыночную стоимость конструкций.</span> Цена новой опалубки начинается от&nbsp;4000
            рублей за&nbsp;1м2, а&nbsp;вы&nbsp;получите то&nbsp;же самое за&nbsp;500 рублей в&nbsp;месяц. Отличный
            вариант для развивающихся компаний.'
        ],
	    img: '/img/advantages/advantage2.jpg'
    },
    {
        title: 'Полное техническое сопровождение',
        desc: [
	        'Арендуя опалубку в&nbsp;Москве, вы&nbsp;можете рассчитывать на <span> сопровождение от&nbsp;квалифицированных
            работников</span> компании. Вам предоставят расчеты и&nbsp;произведут гарантийное обслуживание, если оно
            понадобится.'
        ],
	    img: '/img/advantages/advantage3.jpg'
    },
    {
        title: 'Отсутствие эксплуатационных расходов',
        desc: [
            'Конструкции занимают много места. После эксплуатации, опалубку нужно чистить от&nbsp;остатков бетона
            и&nbsp;смазывать. <span>Аренда монолитной опалубки снимет с&nbsp;вас все расходы</span> по&nbsp;обустройству складов
            и&nbsp;обслуживанию оборудования.'
        ],
	    img: '/img/advantages/advantage4.jpg'
    }
] %}

<section class="advantages-rent">
    <div class="container">
        <h2 class="advantages-rent__title h2">Плюсы аренды опалубки <br> для монолитного строительства</h2>
        <ul class="advantages-rent__list row">
            {% for item in advantagesRent %}
                <li class="advantages-rent__item col-12 col-md-6">
                    <picture>
                        <source data-srcset="{{ item.img }}" type="image/webp">
                        <img src="{{ item.img }}"  class="lazyload">
                    </picture>
                    <div class="advantages-rent__item-content">
                        <h3 class="advantages-rent__item-title h3">{{item.title|raw}}</h3>
                        {% for desc in item.desc %}
                            <p class="advantages-rent__desc">{{desc|raw}}</p>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>