<section class="best">
    <div class="container">
        <h2 class="best__title h2">Высокое качество
            опалубки</h2>
        <div class="row">
            <div class="col-12 col-sm-3 col-md-5 order-sm-2">
                <div class="best__inner">
                    <a href="/brands/opalubka-mekos">
	                    {{ ImgHelper.img('/img/best/3.png', 'best__img lazyload', '', '', 'MECOS') }}
                    </a>
                    <a href="/brands/opalubka-doka">
	                    {{ ImgHelper.img('/img/best/1.png', 'best__img lazyload', '', '', 'Группа компаний doka') }}
                    </a>
                    <a href="/brands/opalubka-gamma">
	                    {{ ImgHelper.img('/img/best/2.png', 'best__img lazyload', '', '', 'ГАММА опалубочные системы') }}
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm-9 col-md-7 order-sm-1">
                <div class="best__desc">
                    <p class="best__desc-text">
                        Используем три проверенных бренда опалубки, обеспечивающих надежность и точность монолита: Doka, «Гамма», «МЕКОС». Гарантируем качестве предоставляемой опалубки, в случае предоставления сломанной детали — <strong>замена и доставка за наш счёт</strong>!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>