<section class="breadcrumbs">
    <ul class="breadcrumbs__list" itemscope itemtype="http://schema.org/BreadcrumbList">
        {% for i, item in breadcrumbs %}
        <li class="breadcrumbs__item" itemprop="itemListElement" itemscope
            itemtype="http://schema.org/ListItem">
            {% if item.active %}
            <p itemscope id="breadcrumb-link-{{ i }}" itemtype="http://schema.org/Thing"
               itemprop="item"><span itemprop="name">{{item.text}}</span></p>
            {% else %}
            <a itemscope itemtype="http://schema.org/Thing" id="breadcrumb-link-{{ i }}"
               itemprop="item"  href="{{item.link}}"><span itemprop="name">{{item.text}}</span></a>
            {% endif %}
            <meta itemprop="position" content="{{ i }}" />
        </li>
        {% endfor %}
    </ul>
</section>