{% import "/views/macros/input.twig" as input %}
<section class="calculator-on-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="calculator-on-page__intro">
                    <h2 class="calculator-on-page__title h2">Расчет опалубки</h2>
                    <p class="calculator-on-page__text">
                        После того, как мы&nbsp;получим от&nbsp;Вас запрос на&nbsp;расчет опалубки, наши специалисты
                        свяжутся с&nbsp;Вами в&nbsp;кратчайшее время.
                    </p>
                </div>
                <form action="{{ app.createUrl('/callback') }}" method="post" class="js-validate-form row" onsubmit="yaCounter25657856.reachGoal('Raschet');">
                    <div class="form-group col-12 col-md-4">
	                    {{input.input({type: 'text', placeholder: 'Введите имя', name: 'CallbackForm[name]', required: 'required'})}}
                    </div>
                    <div class="form-group col-12 col-md-4">
	                    {{input.input({type: 'tel', placeholder: 'Введите телефон', name: 'CallbackForm[phone]', mod: 'v-phone', required: true})}}
                    </div>
                    <div class="form-group col-12 col-md-4">
	                    {{input.input({type: 'email', placeholder: 'Введите e-mail', name: 'CallbackForm[email]', required: true})}}
                    </div>
                    <div class="form-group col-12 col-md-8">
	                    {{input.textarea({placeholder: 'Комментарий', name: 'CallbackForm[comment]'})}}
                    </div>
                    <div class="form-group calculator-on-page__submit col-12 col-md-4">
                        <label for="calculatorFile2" class="input-file">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-clip" />
                            </svg>
                            <span>Прикрепить файл</span>
                            <input type="file" name="CallbackForm[file]" id="calculatorFile2">
                            <img class="file-attach-preloader" src="/img/preloader.gif">
                        </label>
                        <button type="submit" class="calculator__form-submit btn btn-dark">Отправить</button>
                    </div>
                    <span class="file-attach-error col-12"></span>
                    <input type="hidden" name="CallbackForm[type]" value="calc">
                    <input value="" type="hidden" name="g-recaptcha-response" class="input page-form__input token g-recaptcha">
                    <p class="form-group calculator-on-page__agree col-12">
                        Отправляя данную форму, Вы&nbsp;соглашаетесь с&nbsp;
                        <a href="/politika-konfidencialnosti" target="_blank" class="calculator-on-page__link">политикой конфиденциальности.</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>