<section class="objects">
    <div class="container">
        <h2 class="objects__title h2">Наши объекты</h2>
        <div class="row">
            <div class="col-12 col-md-6 objects__content-wrap order">
                <div class="objects__content">
                    <ol class="objects__list">
                        <li class="objects__item">
                            <p class="objects__text">Выберите на карте место, где мы<br>предоставляли услуги аренды</p>
                        </li>
                        <li class="objects__item">
                            <p class="objects__text">Ознакомьтесь с фотоотчетом</p>
                        </li>
                        <li class="objects__item">
                            <p class="objects__text"><a href="#rentForm" class="js-anchor-toggle objects__link link">Закажите</a> аренду
                                опалубки
                            </p>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-12 col-md-6 objects__map-wrap">
                <div id="objects-map" class="objects__map"></div>
            </div>
        </div>
    </div>
</section>

{% block scripts %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
{% endblock scripts %}