<section class="offers">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 offers__item-wrap">
                <a href="/calculator" class="offers__item" style="background-image: url('/img/offers/1.png')">
                    <div class="offers__item-inner">
                        <p class="offers__item-text">Запросить выгодное
                            предложение</p>
                            <svg class="icon-svg">
                                <use xlink:href="#icon-arrow-down" />
                            </svg>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 offers__item-wrap">
                <a href="/calculator" class="offers__item" style="background-image: url('/img/offers/2.png')">
                    <div class="offers__item-inner">
                        <p class="offers__item-text">Рассчитать стоимость
                            опалубки</p>
                        <svg class="icon-svg">
                            <use xlink:href="#icon-arrow-down" />
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>