<section class="profit-block">
    <div class="container">
        <h2 class="h2 profit-block__title">Почему купить опалубку у&nbsp;нас&nbsp;&mdash; это выгодно?</h2>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="profit-block__item">
                    <p class="profit-block__item-text">
                        <span class="text-highlight ">Большой склад с&nbsp;комплектующими</span> и&nbsp;любыми видами
                        опалубки: все необходимые комбинации&nbsp;&mdash; в&nbsp;наличии
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="profit-block__item">
                    <p class="profit-block__item-text">
                        Сметы, спецификации, расчеты для ваших проектов и&nbsp;<span class="text-highlight ">полное сопровождение сделки</span>&nbsp;&mdash; абсолютно бесплатно
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="profit-block__item">
                    <p class="profit-block__item-text">
                        <span class="text-highlight ">Не&nbsp;только новая, но&nbsp;и&nbsp;б/у опалубка.</span>
                        Такие&nbsp;же качественные, современные конструкции, но&nbsp;по&nbsp;более выгодной цене    
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="profit-block__item">
                    <p class="profit-block__item-text">
                        <span class="text-highlight ">Оборудование, соответствующее СНиП.</span> Сотрудничество
                        с&nbsp;лучшими российскими и&nbsp;зарубежными производителями
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="profit-block__item">
                    <p class="profit-block__item-text">
                        <span class="text-highlight ">Лояльность и&nbsp;клиентоориентированность:</span> гибкая система
                        оплаты и&nbsp;специальные условия для постоянных покупателей
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="profit-block__item">
                    <p class="profit-block__item-text">
                        <span class="text-highlight ">Собственный транспорт</span>&nbsp;&mdash; быстрая доставка больших
                        объемов опалубки по&nbsp;Москве и&nbsp;Московской области
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>