<section class="rent-table">
    <div class="container">
        <h2 class="rent-table__title h2">{{rentTable.title}}</h2>
        <table class="rent-table__table table">
            <thead>
                <tr>
                    {% for item in rentTable.head %}
                        <th scope="col">{{item}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in rentTable.body %}
                    <tr>
                        {% for item in row %}
                            <td>
                                {% if loop.index != 1 %}
                                    <span class="rent-table__type d-sm-none">{{rentTable.head[loop.index - 1]}}</span>
                                {% endif %}
                                <span class="rent-table__content">{{item}}</span>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>