{% if rentList.arr|length > 0 %}
    <section class="rent">
        <div class="container">
            {% if rentList.title %}
                <h2 class="h2 rent__title">{{rentList.title}}</h2>
            {% endif %}
            <div class="rent__list row">
                {% for item in rentList.arr %}
                    <div class="rent__item col-12 col-md-6">
                        <div class="rent__item-content">
                            <div class="rent__item-img-wrap">
                                <a href="{{item.link}}">
	                                {{ ImgHelper.img(item.img, 'rent__item-img', false, '', item.title) }}
                                </a>
                            </div>
                            <div class="rent__item-inner">
                                <a href="{{item.link}}" class="rent__item-title">{{item.title}}</a>
                                <a href="{{item.link}}" class="rent__item-link">
			                        {% if item.type %}
                                        {#<span class="rent__item-type">{{item.type}}</span>#}
			                        {% endif %}
                                    <span class="rent__item-price">{{item.price|raw}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}