<section class="reviews">
    <div class="container">
        <h2 class="reviews__title h2">Что говорят наши клиенты</h2>
        <div class="reviews__slider js-reviews-slider">
            {% for review in app.controller.getReviews() %}
                <div class="reviews__slider-item">
                    <p class="reviews__slider-item-desc">
                        {{ review.text|raw }}
                    </p>
                    <p class="reviews__slider-item-author">{{ review.name }}, {{ review.company }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>