{% set default = {
	title: service.title,
	text:service.shortDescription,
	img: service.getImage(),
	url: service.getUrl()
} %}
{% set item = params ? params : default %}
<section class="socials-share">
    <div class="container">
        <h2 class="socials-share__title h2">Вы можете поделиться страницей в соц. сетях</h2>
        <div class="socials-share__list">
            <button class="socials-share__btn js-share" data-target="facebook"
                    data-url="{{ app.controller.createAbsoluteUrl(item.url) }}"
                    data-title="{{ item.title }}"
                    data-img="{{ app.controller.createAbsoluteUrl(item.img) }}"
                    data-text="{{ strip(item.text)|slice(0, 200) }}...">
                <svg class="icon-svg">
                    <use xlink:href="#icon-fb"></use>
                </svg>
                Facebook
            </button>
            <button class="socials-share__btn js-share" data-target="vk"
                    data-url="{{ app.controller.createAbsoluteUrl(item.url) }}"
                    data-title="{{ item.title }}"
                    data-img="{{ app.controller.createAbsoluteUrl(item.img) }}"
                    data-text="{{ strip(item.text)|slice(0, 200) }}...">
                <svg class="icon-svg">
                    <use xlink:href="#icon-vk"></use>
                </svg>
                Вконтакте
            </button>
            <button class="socials-share__btn js-share" data-target="ok"
                    data-url="{{ app.controller.createAbsoluteUrl(item.url) }}"
                    data-title="{{ item.title }}">
                <svg class="icon-svg">
                    <use xlink:href="#icon-ok"></use>
                </svg>
                Одноклассники
            </button>
            <button class="socials-share__btn js-share" data-target="whatsapp"
                    data-url="{{ app.controller.createAbsoluteUrl(item.url) }}"
                    data-title="{{ item.title }}">
                <svg class="icon-svg">
                    <use xlink:href="#icon-whatsapp"></use>
                </svg>
                WhatsApp
            </button>
            <button class="socials-share__btn js-share" data-target="telegram"
                    data-url="{{ app.controller.createAbsoluteUrl(item.url) }}"
                    data-title="{{ item.title }}">
                <svg class="icon-svg">
                    <use xlink:href="#icon-telegram"></use>
                </svg>
                Telegram
            </button>
        </div>
    </div>
</section>