{% if text %}
    <section class="stock-block">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9">
                    {{ text|raw }}
                </div>
            </div>
        </div>
    </section>
{% endif %}