<section class="types">
    <div class="container">
        <h2 class="types__title h2">Виды опалубки, которые можно арендовать <br> и купить в нашей компании</h2>
        <ul class="types__list collapsed">
            {% for item in types %}
                <li class="types__item">
                    <div class="types__item-img-wrap">
                        <a href="{{ item.link }}">
	                        {{ ImgHelper.img('/img/types/'~item.img, 'types__item-img') }}
                        </a>
                    </div>
                    <div class="types__item-inner">
                        <a href="{{ item.link }}">
                            <h3 class="types__item-title h3">{{item.title|raw}}</h3>
                        </a>
                        {% for desc in item.desc %}
                            <p class="types__item-desc">{{desc|raw}}</p>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
        </ul>
        <button class="types__show">Показать еще</button>
    </div>
</section>