<section class="work-order">
    <div class="container">
        <h2 class="work-order__title h2">Порядок работы</h2>
        <div class="row work-order__row">
            <div class="work-order__item-wrap col-12 col-md-6 col-lg-3">
                <div class="work-order__item">
                    <div class="work-order__item-head">
                        <p class="work-order__item-title">01</p>
                    </div>
                    <p class="work-order__item-desc">
                        Вы оставляете заявку и предоставляете нам проект вашего объекта
                    </p>
                </div>
            </div>
            <div class="work-order__item-wrap col-12 col-md-6 col-lg-3">
                <div class="work-order__item">
                    <div class="work-order__item-head">
                        <p class="work-order__item-title">02</p>
                    </div>
                    <p class="work-order__item-desc">
                        Мы производим расчет
                        и высылаем коммерческое предложение
                    </p>
                </div>
            </div>
            <div class="work-order__item-wrap col-12 col-md-6 col-lg-3 mb-md-0">
                <div class="work-order__item">
                    <div class="work-order__item-head">
                        <p class="work-order__item-title">03</p>
                    </div>
                    <p class="work-order__item-desc">
                        Мы согласовываем
                        и подписываем договор об аренде
                    </p>
                </div>
            </div>
            <div class="work-order__item-wrap col-12 col-md-6 col-lg-3 mb-md-0">
                <div class="work-order__item">
                    <div class="work-order__item-head">
                        <p class="work-order__item-title">04</p>
                    </div>
                    <p class="work-order__item-desc">
                        Вы получаете комплект опалубки на нашем складе в г.Щелково
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>