<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<title>MOSAICO Responsive Email Designer</title>

	<style type="text/css">
		body{ margin: 0; padding: 0; }
		img{ border: 0px; display: block; }

		.socialLinks{ font-size: 6px; }
		.socialLinks a{
			display: inline-block;
		}

		.long-text p{ margin: 1em 0px; }
		.long-text p:last-child{ margin-bottom: 0px; }
		.long-text p:first-child{ margin-top: 0px; }
	</style>
	<style type="text/css">
		/* yahoo, hotmail */
		.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div{ line-height: 100%; }
		.yshortcuts a{ border-bottom: none !important; }
		.vb-outer{ min-width: 0 !important; }
		.RMsgBdy, .ExternalClass{
			width: 100%;
			background-color: #3f3f3f;
			background-color: #3f3f3f}

		/* outlook/office365 add buttons outside not-linked images and safari have 2px margin */
		[o365] button{ margin: 0 !important; }

		/* outlook */
		table{ mso-table-rspace: 0pt; mso-table-lspace: 0pt; }
		#outlook a{ padding: 0; }
		img{ outline: none; text-decoration: none; border: none; -ms-interpolation-mode: bicubic; }
		a img{ border: none; }

		@media screen and (max-width: 600px) {
			table.vb-container, table.vb-row{
				width: 95% !important;
			}

			.mobile-hide{ display: none !important; }
			.mobile-textcenter{ text-align: center !important; }

			.mobile-full{
				width: 100% !important;
				max-width: none !important;
			}
		}
		/* previously used also screen and (max-device-width: 600px) but Yahoo Mail doesn't support multiple queries */
	</style>
	<style type="text/css">

		#ko_textBlock_5 .links-color a, #ko_textBlock_5 .links-color a:link, #ko_textBlock_5 .links-color a:visited, #ko_textBlock_5 .links-color a:hover{
			color: #3f3f3f;
			color: #3f3f3f;
			text-decoration: underline
		}

		#ko_footerBlock_2 .links-color a, #ko_footerBlock_2 .links-color a:link, #ko_footerBlock_2 .links-color a:visited, #ko_footerBlock_2 .links-color a:hover{
			color: #cccccc;
			color: #cccccc;
			text-decoration: underline
		}
	</style>

</head>
<body bgcolor="#3f3f3f" text="#919191" alink="#cccccc" vlink="#cccccc" style="margin: 0; padding: 0; background-color: #3f3f3f; color: #919191;">
<center>
	<table border="0" cellpadding="0" cellspacing="0" class="vb-outer" id="ko_titleBlock_4" style="background-color:#bfbfbf; width:100%">
		<tbody>
		<tr>
			<td><!--[if (gte mso 9)|(lte ie 8)]><table role="presentation" align="center" border="0" cellspacing="0" cellpadding="0" width="570"><tr><td align="center" valign="top"><![endif]--><!--
      -->
				<div style="-mru-width:0px; max-width:570px">
					<table border="0" cellpadding="0" cellspacing="0" class="vb-row" style="-mru-width:0px; background-color:#ffffff; border-collapse:separate; border-spacing:0px; max-width:570px; mso-cellspacing:0px; width:100%">
						<tbody>
						<tr>
							<td>
								<div style="-mru-width:0px; max-width:552px; vertical-align:top; width:100%"><!--
        -->
									<table border="0" cellpadding="0" cellspacing="9" class="vb-content" style="border-collapse:separate; border-spacing:9px; mso-cellspacing:9px; width:100%">
										<tbody>
										<tr>
											<td style="text-align:center">
												<h1>Поступила новая заявка</h1>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<!--
		--><!--[if (gte mso 9)|(lte ie 8)]></td></tr></table><![endif]--></td>
		</tr>
		</tbody>
	</table>

	<table border="0" cellpadding="0" cellspacing="0" class="vb-outer" id="ko_textBlock_5" style="background-color:#bfbfbf; width:100%">
		<tbody>
		<tr>
			<td><!--[if (gte mso 9)|(lte ie 8)]><table role="presentation" align="center" border="0" cellspacing="0" cellpadding="0" width="570"><tr><td align="center" valign="top"><![endif]--><!--
      -->
				<div style="-mru-width:0px; max-width:570px">
					<table border="0" cellpadding="0" cellspacing="18" class="vb-container" style="-mru-width:0px; background-color:#ffffff; border-collapse:separate; border-spacing:18px; max-width:570px; mso-cellspacing:18px; width:100%">
						<tbody>
						<tr>
							<td style="text-align:left">
								<h3><strong>От: </strong>{{ data.name }}<h3><br />
								<h3><strong>Контакты: </strong>{{ data.phone }}       {{ data.email }}</h3><br />
								<h3>{% if data.getFile %} <strong>Файл: </strong><a href="{{ app.createAbsoluteUrl(data.getFile) }}">{{ data.getFile()}}</a>{% endif %} </h3><br />
								<h3><strong>Категория: </strong>{{ data.category }}</h3><br />
								<h3><strong>Услуга: </strong>{{ data.product }}</h3><br />
								<h3><strong>Дата: </strong>{{ "now"|date('Y-m-d H:i:s') }}</h3><br />
								<br />
								<h3><a href="{{ app.createAbsoluteUrl('/admin/requests') }}">Просмотр</a></h3>
								<p>&nbsp;</p>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<!--
		--><!--[if (gte mso 9)|(lte ie 8)]></td></tr></table><![endif]--></td>
		</tr>
		</tbody>
	</table>


</center></body></html>