{#{% extends '/views/layouts/main.twig' %}#}

{% block content %}
	<section class="not-found">
		{{ ImgHelper.img('/img/errors/404.png', 'not-found__img') }}
		<h2 class="h2 not-found__title">Страница недоступна</h2>
		<p class="not-found__text">Пока мы устраняем неполадки, вы можете ознакомиться с другими услугами.</p>
		<a href="/" class="not-found__btn btn btn-primary">На главную</a>
	</section>
{% endblock content %}