{% extends 'modules/admin/views/layouts/main.twig' %}

{% set title = this.setPageTitle('Добавление изображения') %}
{% set bread = this.setBreadCrumbs({ 'Галерея': '/admin/gallery', 'Добавление изображения': '/' ~ app.request.getPathInfo() }) %}

{% block content %}
	{% include 'modules/admin/views/gallery/_form.twig' with {
		'image': image,
	} only %}
{% endblock %}