{% extends '/views/layouts/main.twig' %}
{% import "/views/macros/form.twig" as form %}
{% import "/views/macros/input.twig" as input %}

{% set breadcrumbs = [
	{
		link: '/',
		text: 'Главная'
	},
	{
		active: true,
		text: 'Расчет опалубки'
	}
] %}
{% set rentForm = {
	id: 'rentForm',
	title: 'Заказать обратный звонок',
	class: 'rent-form',
	action: app.createUrl('/callback'),
	submit: 'Отправить',
	onSubmit: 'yaCounter25657856.reachGoal("Zakaz_zvn");',
	fields: [
		{
			name: 'CallbackForm[name]',
			type: 'text',
			placeholder: 'Ваше имя',
			required: true
		},
		{
			name: 'CallbackForm[phone]',
			type: 'tel',
			mod: 'v-phone',
			placeholder: 'Телефон',
			required: true
		},
		{
			name: 'CallbackForm[type]',
			type: 'hidden',
			value: 'free_call',
			required: true
		},
		{
			name: 'g-recaptcha-response',
			type: 'hidden',
			mod: 'token g-recaptcha',
		}
	]
} %}

{% block head %}
	    <link rel="stylesheet" type="text/css"   href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
{% endblock head %}

{% block content %}

	<section class="calculator page">
		<div class="container">
			{% include "/views/modules/breadcrumbs.twig" %}
			<div class="row">
				<div class="col-12 col-lg-9">
					<div class="page__intro">
						<h1 class="page__title h1">Расчет <span>стоимости аренды или покупки</span> опалубки</h1>
						<p class="page__text">
							Подготовим расчёт и коммерческие условия в течение 1 рабочего дня. Бесплатно. Или отправьте нам проект на e-mail <a href="mailto:callback@stroymonolit.su">callback@stroymonolit.su</a>
						</p>
					</div>

					<form action="{{ app.createUrl('/callback') }}"  method="post" id="calculatorForm" class="calculator__form form js-validate-form row" onsubmit="yaCounter25657856.reachGoal('Raschet');">
						<div class="form-group col-12 col-md-4">
							{{input.input({type: 'text', placeholder: 'Введите имя', name: 'CallbackForm[name]', required: true})}}
						</div>
						<div class="form-group col-12 col-md-4">
							{{input.input({type: 'tel', placeholder: 'Введите телефон', name: 'CallbackForm[phone]', mod: 'v-phone', required: true})}}
						</div>
						<div class="form-group col-12 col-md-4">
							{{input.input({type: 'email', placeholder: 'Введите e-mail', name: 'CallbackForm[email]'})}}
						</div>
						<div class="form-group col-12 col-md-8">
							{{input.textarea({placeholder: 'Комментарий', name: 'CallbackForm[comment]'})}}
						</div>
						<input type="hidden" name="CallbackForm[type]" value="calc">
						<input value="" type="hidden" name="g-recaptcha-response" class="input page-form__input token g-recaptcha">
						<div class="form-group calculator__form-group-row col-12 col-md-4">
							<label for="calculatorFile" class="input-file">
								<svg class="icon-svg">
									<use xlink:href="#icon-clip" />
								</svg>
								<span>Прикрепить файл</span>
								<input type="file" name="CallbackForm[file]" id="calculatorFile" class="v-file">
								<img class="file-attach-preloader" src="/img/preloader.gif">
							</label>
							<button type="submit" class="calculator__form-submit btn btn-dark">Отправить</button>
						</div>
						<span class="file-attach-error"></span>
						<p class="calculator__agree">
							Отправляя данную форму, Вы&nbsp;соглашаетесь с&nbsp;
							<a href="/politika-konfidencialnosti" class="">политикой конфиденциальности.</a>
						</p>
					</form>
				</div>
			</div>
		</div>
	</section>
	<section class="calculator__advantages">
		<div class="container">
			<h2 class="calculator__advantages-title h2">Преимущества</h2>
			<ul class="calculator__advantages-list row">
				<li class="calculator__advantages-item col-12 col-sm-6 col-md-4">
					<svg class="icon-svg">
						<use xlink:href="#icon-calc-adv1" />
					</svg>
					Заводские цены без накрутки
				</li>
				<li class="calculator__advantages-item col-12 col-sm-6 col-md-4">
					<svg class="icon-svg">
						<use xlink:href="#icon-calc-adv2" />
					</svg>
					В течение 1 часа рассчитаем необходимый объем опалубки
				</li>
				<li class="calculator__advantages-item col-12 col-sm-6 col-md-4">
					<svg class="icon-svg">
						<use xlink:href="#icon-calc-adv3" />
					</svg>
					Огромный выбор комплектующих
				</li>
				<li class="calculator__advantages-item col-12 col-sm-6 col-md-4">
					<svg class="icon-svg">
						<use xlink:href="#icon-calc-adv4" />
					</svg>
					Всегда в наличии более 30 000 м2  продукции
				</li>
				<li class="calculator__advantages-item col-12 col-sm-6 col-md-4">
					<svg class="icon-svg">
						<use xlink:href="#icon-calc-adv5" />
					</svg>
					Бесплатный инженерный расчет и схема расстановки в подарок
				</li>
				<li class="calculator__advantages-item col-12 col-sm-6 col-md-4">
					<svg class="icon-svg">
						<use xlink:href="#icon-calc-adv6" />
					</svg>
					Официальные и неофициальные скидки
				</li>
			</ul>
		</div>
	</section>
	<section class="calculator__project-free">
		<div class="container">
			<h2 class="calculator__project-free-title h2">Мы подготовим для вас
				подробный проект,
				совершенно бесплатно!</h2>
			<a href="/img/calculator/project-free-full.png" class="js-fancybox-calc">
				<picture>
					<source data-srcset="/img/calculator/project-free.png" type="image/webp">
					<img src="/img/calculator/project-free.png"  class="lazyload">
				</picture>
			</a>
		</div>
	</section>
	<section class="calculator__offers">
		<div class="container">
			<h2 class="calculator__offers-title h2">Что мы предлагаем</h2>
			<div class="calculator__offers-list row">
				<div class="calculator__offers-item col-12 col-md-6">
					<picture>
						<source data-srcset="/img/types/01.png" type="image/webp">
						<img src="/img/types/01.png"  class="lazyload">
					</picture>
					<h3 class="calculator__offers-subtitle">Опалубка стен</h3>
					<div class="calculator__offers-item-inner">
						<span><a href="http://stroymonolit.local/arenda/arenda-opalubki-sten" title="Аренда опалубки стен">Аренда</a></span>
						<span> от 15 ₽ / сутки</span>
					</div>
					<div class="calculator__offers-item-inner">
						<span><a href="http://stroymonolit.local/sale/opalubka-sten" title="Продажа опалубки стен">Продажа</a></span>
						<span>от 1500 ₽ / м<sup>2</sup></span>
					</div>
					{#<button type="submit" class="calculator__offers-submit">Рассчитать стоимость</button>#}
				</div>
				<div class="calculator__offers-item col-12 col-md-6">
					<picture>
						<source data-srcset="/img/types/03.png" type="image/webp">
						<img src="/img/types/03.png"  class="lazyload">
					</picture>
					<h3 class="calculator__offers-subtitle">Опалубка колонн</h3>
					<div class="calculator__offers-item-inner">
						<span><a href="http://stroymonolit.local/arenda/arenda-opalubki-kolonn" title="Аренда опалубки колонн">Аренда</a></span>
						<span>от 200 ₽ / сутки</span>
					</div>
					<div class="calculator__offers-item-inner">
						<span><a href="http://stroymonolit.local/sale/opalubka-kolonn" title="Продажа опалубки колонн">Продажа</a></span>
						<span>от 2300 ₽ / м<sup>2</sup></span>
					</div>
					{#<button type="submit" class="calculator__offers-submit">Рассчитать стоимость</button>#}
				</div>
				<div class="calculator__offers-item col-12 col-md-6">
					<picture>
						<source data-srcset="/img/types/05.png" type="image/webp">
						<img src="/img/types/05.png"  class="lazyload">
					</picture>
					<h3 class="calculator__offers-subtitle">Опалубка перекрытий</h3>
					<div class="calculator__offers-item-inner">
						<span><a href="http://stroymonolit.local/arenda/arenda-opalubki-perekrytij" title="Аренда опалубки перекрытий">Аренда</a></span>
						<span>от 100 ₽ / сутки</span>
					</div>
					<div class="calculator__offers-item-inner">
						<span><a href="http://stroymonolit.local/sale/opalubka-perekrytij" title="Продажа опалубки перекрытий">Продажа</a></span>
						<span>от 580 ₽ / м<sup>2</sup></span>
					</div>
					{#<button type="submit" class="calculator__offers-submit">Рассчитать стоимость</button>#}
				</div>
				<div class="calculator__offers-item col-12 col-md-6">
					<picture>
						<source data-srcset="/img/types/02.png" type="image/webp">
						<img src="/img/types/02.png"  class="lazyload">
					</picture>
					<h3 class="calculator__offers-subtitle">Опалубка фундамента</h3>
					<div class="calculator__offers-item-inner">
						<span><a href="http://stroymonolit.local/arenda/arenda-opalubki-fundament" title="Аренда опалубки фундамента">Аренда</a></span>
						<span>от 15 ₽ / сутки</span>
					</div>
					<div class="calculator__offers-item-inner">
						<span><a href="http://stroymonolit.local/sale/opalubka-fundamenta" title="Продажа опалубки фундамента">Продажа</a></span>
						<span>от 1500 ₽ / м<sup>2</sup></span>
					</div>
					{#<button type="submit" class="calculator__offers-submit">Рассчитать стоимость</button>#}
				</div>
			</div>
		</div>
	</section>
	<div class="calculator product__page-form container">
		{{form.page_form(rentForm)}}
	</div>
{% endblock content %}
