{% extends 'views/layouts/main.twig' %}
{% set breadcrumbs = [
	{
		link: '/',
		text: 'Главная'
	},
	{
		active: true,
		text: 'Контакты'
	}
] %}
{% block content %}

	<section class="contacts page">
		<div class="container">
			{% include "/views/modules/breadcrumbs.twig" %}
			<h1 class="h1 page__title">Контакты</h1>
			<div class="contacts__item">
				<p class="contacts__item-title">По вопросам продажи и аренды опалубки</p>
				<a href="tel:{{ app.settings.get('siteSettings:organization:phoneSell')|replace({'-': '', ' ': '', '(': '', ')': ''}) }}" class="contacts__phone callibri_phone" onclick="yaCounter25657856.reachGoal('phone');">{{ app.settings.get('siteSettings:organization:phoneSell') }}</a>
				<a href="tel:{{ app.settings.get('siteSettings:organization:phoneSell2')|replace({'-': '', ' ': '', '(': '', ')': ''}) }}" class="contacts__phone callibri_phone1" onclick="yaCounter25657856.reachGoal('phone');">{{ app.settings.get('siteSettings:organization:phoneSell2') }}</a>
			</div>
			<div class="contacts__item">
				<p class="contacts__item-title">По вопросам выкупа опалубки:</p>
				<a href="tel:{{ app.settings.get('siteSettings:organization:phoneBuyout')|replace({'-': '', ' ': '', '(': '', ')': ''}) }}" class="contacts__phone callibri_phone" onclick="yaCounter25657856.reachGoal('phone');">{{ app.settings.get('siteSettings:organization:phoneBuyout') }}</a>
			</div>
			<div class="contacts__item">
				<p class="contacts__item-title">E-mail</p>
				<a href="mailto:{{ app.settings.get('siteSettings:organization:email')|replace({'-': '', ' ': '', '(': '', ')': ''}) }}" class="contacts__phone callibri_email" onclick="yaCounter25657856.reachGoal('email');">{{ app.settings.get('siteSettings:organization:email') }}</a>
			</div>
			<div class="row contacts__row">
				<div class="col-12 col-md-6">
					<div class="contacts__address">
						<p class="contacts__address-title">Склад</p>
						<p class="contacts__address-text">{{ app.settings.get('siteSettings:organization:manufacturerAddress') }}</p>
					</div>
				</div>
				<div class="col-12 col-md-6">
					<div class="contacts__address">
						<p class="contacts__address-title">Офис</p>
						<p class="contacts__address-text">{{ app.settings.get('siteSettings:organization:sellersAddress') }}</p>
					</div>
				</div>
			</div>
			<div id="contacts-map" class="js-contacts-map contacts__map"></div>
		</div>

	</section>
{% endblock content %}

{% block beforeMainJs %}
	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
{% endblock beforeMainJs %}