{% extends 'views/layouts/main.twig' %}

{% set breadcrumbs = [
	{
		link: '/',
		text: 'Главная'
	},
	{
		active: true,
		text: page.title
	}
] %}

{% block content %}
	<section class="about page">
		<div class="container">
			{% include "/views/modules/breadcrumbs.twig" %}
			{{ page.content | raw }}
		</div>
	</section>
{% endblock content %}