{% extends '/views/layouts/main.twig' %}

{% import "/views/macros/form.twig" as form %}
{% import "/views/macros/table.twig" as table %}

{% set breadcrumbs = [
	{
		link: '/',
		text: 'Главная'
	},
	{
		active: true,
		text: 'Прайс-лист'
	}
] %}

{% set materialsTable = {
	title: 'Стоимость аренды опалубки в Москве и области',
	head: [
		'Наименование продукции',
		'Цена',
	],
	body: [
		['Проволока вязальная','37 ₽ / кг'],
		['Пластиковые закладные','от 1 ₽ / шт.'],
		['Труба ПВХ','10 ₽ / п.м.'],
		['Эмульсол (канистра 50 л)','3 000 ₽'],
		['Эмульсол (бочка 200 л)','7 000 ₽'],
	]
} %}

{% set equipTable = {
	title: 'Доп. оборудование на продажу',
	head: [
		'Наименование продукции',
		'Цена за месяц',
		'Сумма залога',
	],
	body: [
		['Рубочный станок','50 000 ₽','92 000 ₽'],
		['Гибочный станок','50 000 ₽','92 000 ₽'],
		['Трансформаторная станция ТСДЗ-80/0,38','60 000 ₽','90 000 ₽'],
		['Трансформатор КТПТО-80-11','80 000 ₽','147 000 ₽']
	]
} %}

{% set wallTable = {
	title: 'Опалубка стен в аренду',
	head: [
		'Наименование продукции',
		'Цена за сутки',
		'Цена за 15 дней',
		'Цена за месяц',
		'Сумма залога'
	],
	body: [
		[
			'Опалубка стен алюминиевая/стальная
            Гамма, Мекос (за м2)',
			'от 15 ₽',
			'350 ₽',
			'600 ₽',
			'1 000 ₽'
		]
	]
} %}

{% set columnsTable = {
	title: 'Опалубка колонн в аренду',
	head: [
		'Наименование продукции',
		'Цена за сутки',
		'Цена за месяц',
		'Сумма залога'
	],
	body: [
		[
			'Опалубка колонн (одна колонна)',
			'333 ₽',
			'8 000 ₽',
			'8 000 ₽'
		]
	]
} %}

{% set overlapTable = {
	title: 'Опалубка перекрытий в аренду',
	head: [
		'Наименование продукции',
		'Цена за сутки',
		'Цена за месяц',
		'Сумма залога'
	],
	body: [
		['Стойка телескопическая 2,5 м','5 ₽','100 ₽','100 ₽'],
		['Стойка телескопическая 3,1 м','5 ₽','100 ₽','100 ₽'],
		['Стойка телескопическая 3,7 м','5 ₽','100 ₽','100 ₽'],
		['Стойка телескопическая 4,2 м','6,7 ₽','120 ₽','120 ₽'],
		['Стойка телескопическая 4,5 м','6,7 ₽','150 ₽','150 ₽'],
		['Стойка телескопическая 5,5 м','6,7 ₽','200 ₽','200 ₽'],
		['Тренога','2,3 ₽','50 ₽','50 ₽'],
		['Унивилка','1 ₽','30 ₽','30 ₽'],
		['Балка БДК (пагонный метр)','2 ₽','50 ₽','50 ₽'],
		['Фанера ламинированная
        (2,44 м x 1,22 м х 18 мм; 2,977 м2/лист)','16,7 ₽','500 ₽','500 ₽']
	]
} %}

{% set rentForm = {
	id: 'rentForm',
	title: 'Заказать бесплатный расчет',
	class: 'rent-form price-list',
	action: app.createUrl('/callback'),
	method: 'post',
	onSubmit: 'yaCounter25657856.reachGoal("Raschet");',
	submit: 'Заказать',
	fields: [
		{
			name: 'CallbackForm[name]',
			type: 'text',
			placeholder: 'Ваше имя',
			required: true
		},
		{
			name: 'CallbackForm[email]',
			type: 'email',
			placeholder: 'Ваш e-mail',
			required: true
		},
		{
			name: 'CallbackForm[phone]',
			type: 'tel',
			mod: 'js-phone',
			placeholder: 'Телефон',
			required: true
		},
		{
			name: 'CallbackForm[comment]',
			type: 'textarea',
			placeholder: 'Комментарий',
		},
		{
			name: 'CallbackForm[type]',
			type: 'hidden',
			value: 'request',
			required: true
		},
		{
			name: 'CallbackForm[category]',
			type: 'hidden',
			value: 'Страница',
			required: true
		},
		{
			name: 'CallbackForm[product]',
			type: 'hidden',
			value: 'Прайс лист',
			required: true
		},
		{
			name: 'g-recaptcha-response',
			type: 'hidden',
			mod: 'token g-recaptcha',
		}
	]
} %}

{% block content %}

	<section class="page">
		<div class="container">
			{% include "/views/modules/breadcrumbs.twig" %}
			{{ page.content|raw }}
		</div>
	</section>
	{{form.page_form(rentForm)}}
{% endblock content %}