{% extends '/views/layouts/main.twig' %}

{% set breadcrumbs = [
	{
		link: '/',
		text: 'Главная'
	},
	{
		active: true,
		text: 'Статьи'
	}
] %}

{% block content %}
	<section class="page articles _padding">
		<div class="container">
			{% include "/views/modules/breadcrumbs.twig" %}
			<h1 class="h1 page__title articles__title">Статьи</h1>

			<div class="row articles__list">
				{% for article in provider.getData() %}
					<div class="articles__item col-12 col-md-6 col-lg-5 {% if loop.index is even %} offset-lg-1 {% endif %}">
						<a href="{{ app.controller.createUrl('/articles/view', {'slug': article.slug }) }}"><h3 class="h3 articles__item-title">{{ article.name }}</h3></a>
						<noindex><p class="page__text ">{{ article.shortText }}</p></noindex>
						<a href="{{ app.controller.createUrl('/articles/view', {'slug': article.slug }) }}" rel="nofollow" class="page__link articles__item-link _text-decoration">Подробнее</a>
					</div>
				{% endfor %}
			</div>
		</div>
		{% if provider.pagination.pageCount > 1 %}
			{#{% include "/views/layouts/blocks/pagination.twig" %}#}
			{{ this.widget('LinkPager', { pages: provider.pagination }, true) | raw }}
		{% endif %}

	</section>
{% endblock content %}