{% extends '/views/layouts/main.twig' %}
{% import "/views/macros/form.twig" as form %}

{% block openGraph %}
	{{
	app.openGraph
		.title(article.name)
	| raw
	}}
{% endblock %}
{% set breadcrumbs = [
	{
		link: '/',
		text: 'Главная'
	},
	{
		link: '/articles',
		text: 'Статьи'
	},
	{
		active: true,
		text: article.name
	}
] %}
{% set freeForm = {
	title: 'Бесплатная консультация',
	class: 'free-form',
	action: app.createUrl('/callback'),
	onSubmit: 'yaCounter25657856.reachGoal("Zakaz_zvn");',
	submit: 'Заказать',
	fields: [
		{
			name: 'CallbackForm[name]',
			type: 'text',
			placeholder: 'Ваше имя',
			required: true
		},
		{
			name: 'CallbackForm[email]',
			type: 'email',
			placeholder: 'Ваш e-mail',
			required: true
		},
		{
			name: 'CallbackForm[phone]',
			type: 'tel',
			mod: 'v-phone',
			placeholder: 'Телефон',
			required: true
		},
		{
			name: 'CallbackForm[type]',
			type: 'hidden',
			value: 'free_call',
			required: true
		},
		{
			name: 'g-recaptcha-response',
			type: 'hidden',
			mod: 'token g-recaptcha',
		}
	]
} %}
{% block content %}
	<section class="page _padding">
		<div class="container">
			<div class="row" style="margin: 0!important;">
				<div class="col-12 col-md-9">
					{% include "/views/modules/breadcrumbs.twig" %}
				</div>
				<div class="col-12 col-md-9">
					<h1 class="page__title h1 col-9 col-sm-10">{{ article.name }}</h1>
				</div>
				{{ article.text | raw }}
			</div>
			{% if article.prevArticle %}
				<div class="page__prev-article">
					<span>Предыдущая статья: </span><a href="{{ article.prevArticle.getUrl }}" class="page__prev-article-link">{{ article.prevArticle.name }}</a>
				</div>
			{% endif %}
			{% if article.nextArticle %}
				<div class="page__next-article">
					<span>Следующая статья: </span><a href="{{ article.nextArticle.getUrl }}" class="page__next-article-link">{{ article.nextArticle.name }}</a>
				</div>
			{% endif %}
			<div class="page__other-articles">
				<h2 class="h2 page__subtitle">Также вам будет интересно</h2>
				<div class="row">
					{% for interest in article.getInterest() %}
						<div class="col-12 col-sm-4">
							<a class="page__other-articles-link" href="{{ app.controller.createUrl('/articles/view', {'slug': interest.slug }) }}">
								<img src="{{ interest.getImageSmall() }}" alt="{{ interest.name }}" class="page__img">
								<p>{{ interest.name }}</p>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
	{{form.page_form(freeForm)}}
	{% include "/views/modules/socials-share.twig" with {params: {
		title: article.name,
		text: article.text,
		img: article.getImageSmall(),
		url: article.getUrl()
	}}%}
{% endblock content %}