{% set subNav = [
    {
        text: 'Аренда опалубки',
        subList: app.menuHelper.getChildServiceList(48),
        url: '/arenda'
    },
    {
        text: 'Продажа',
        subList: app.menuHelper.getChildServiceList(25),
	    url: '/sale'
    },
    {
        arr: [
            {
                text: 'Производители',
                class: '_producer',
                subList: app.menuHelper.getChildServiceList(35),
	            url: '/brands'
            },
            {
                text: 'Информация',
                class: '_info',
                subList: app.menuHelper.getChildPagesList(21)
            }
        ]
        
    }
] %}

<footer class="main-footer">
    <div class="container">
        <div class="row main-footer__row">
            <div class="col-12 col-md-9 col-lg-7">
                <nav class="main-footer__sub-nav">
                    <div class="main-footer__sub-nav-list row">
	                    {% for item in subNav %}
		                    {% if item.arr %}
                                <div class="main-footer__sub-nav-item-wrap col-12 col-sm-4 pl-0">
				                    {% for item in item.arr %}
                                        <div class="main-footer__sub-nav-item {{item.class}}" id="footerSubNavHead{{loop.index + 2}}">
                                            <a href="{{item.url}}" class="main-footer__sub-nav-item-title">
							                    {{item.text}}
                                            </a>
						                    {% if item.subList %}
                                                <svg class="icon-svg collapsed" {% if item.subList %}
                                                    role="button" data-toggle="collapse"
                                                    data-target="#footerSubnavList{{loop.index + 2}}" aria-expanded="false"
                                                    aria-controls="footerSubnavList{{loop.index + 2}}" {% endif %}>
                                                    <use xlink:href="#icon-arrow-down" />
                                                </svg>
						                    {% endif %}
						                    {% if item.subList %}
                                                <ul class="main-footer__sub-nav-sublist collapse"
                                                    id="footerSubnavList{{loop.index + 2}}"
                                                    aria-labelledby="subNavHead{{loop.index + 2}}" data-parent="#subNavAcc">
								                    {% for link in item.subList %}
                                                        <li class="main-footer__sub-nav-subitem">
                                                            <a href="{{link.link}}"
                                                               class="main-footer__sub-nav-sublink">{{link.text}}</a>
                                                        </li>
								                    {% endfor %}
                                                </ul>
						                    {% endif %}
                                        </div>
				                    {% endfor %}
                                </div>
		                    {% else %}
                                <div class="main-footer__sub-nav-item col-12 col-sm-4 pl-0" id="footerSubNavHead{{loop.index}}">
                                    <a href="{{item.url}}" class="main-footer__sub-nav-item-title">
					                    {{item.text}}
                                    </a>
				                    {% if item.subList %}
                                        <svg class="icon-svg collapsed" {% if item.subList %} role="button"
                                            data-toggle="collapse" data-target="#footerSubnavList{{loop.index}}" aria-expanded="false"
                                            aria-controls="footerSubnavList{{loop.index}}" {% endif %}>
                                            <use xlink:href="#icon-arrow-down" />
                                        </svg>
				                    {% endif %}
				                    {% if item.subList %}
                                        <ul class="main-footer__sub-nav-sublist collapse" id="footerSubnavList{{loop.index}}"
                                            aria-labelledby="subNavHead{{loop.index}}" data-parent="#subNavAcc">
						                    {% for link in item.subList %}
                                                <li class="main-footer__sub-nav-subitem">
                                                    <a href="{{link.link}}" class="main-footer__sub-nav-sublink">{{link.text}}</a>
                                                </li>
						                    {% endfor %}
                                        </ul>
				                    {% endif %}
                                </div>
		                    {% endif %}
	                    {% endfor %}
                    </div>
                </nav>
            </div>
            <div class="col-12 col-sm-4 col-md-3">
                <nav class="main-footer__nav">
                    <ul class="main-footer__nav-list">
	                    {% for item in app.controller.getMainMenuFooter() %}
                            {% if item.getUrl != '//' %}
                                <li class="main-footer__nav-item">
                                    <a href="{{item.getUrl}}" class="main-footer__nav-link">{{item.title}}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <div class="col-12 col-sm-8 col-md-12 col-lg-2 row main-footer__info-row">
                <div class="col-12 col-sm-6 col-md-3 col-lg-12 main-footer__info-wrap order-sm-1">
                    <div class="main-footer__info">
                        <span class="main-footer__content-title">Режим работы:</span><br>
                        <span class="main-footer__text">{{ app.settings.get('siteSettings:organization:workTime') }}</span><br>
                        <span class="main-footer__text">Без выходных</span>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-12 main-footer__contacts-wrap order-sm-3 order-md-2">
                    <div class="main-footer__contacts">
                        <span class="main-footer__content-title">Телефон:</span>
                        <a href="tel:{{ app.settings.get('siteSettings:organization:phoneSell')|replace({'-': '', ' ': '', '(': '', ')': ''}) }}" class="main-footer__phone callibri_phone" onclick="yaCounter25657856.reachGoal('phone');">{{ app.settings.get('siteSettings:organization:phoneSell') }}</a>
                        <a href="tel:{{ app.settings.get('siteSettings:organization:phoneSell2')|replace({'-': '', ' ': '', '(': '', ')': ''}) }}" class="main-footer__phone callibri_phone1" onclick="yaCounter25657856.reachGoal('phone');">{{ app.settings.get('siteSettings:organization:phoneSell2') }}</a>
                        <a href="mailto:{{ app.settings.get('siteSettings:organization:email') }}" class="main-footer__phone callibri_email"  onclick="yaCounter25657856.reachGoal('email');">{{ app.settings.get('siteSettings:organization:email') }}</a>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-12 main-footer__address-wrap order-sm-2 order-md-3">
                    <div class="main-footer__address">
                        <span class="main-footer__content-title">Адрес офиса:</span><br>
                        <span class="main-footer__text">г. Москва, Щелковское шоссе д. 100</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row main-footer__row">
            <div class="col-12 col-md-8 col-lg-5">
                <span class="main-footer__conditions">
                    Используя сайт, вы принимаете условия
                    <a href="/public-oferta" target="_blank" class="main-footer__conditions-link">Публичной оферты</a>
                    <span>, </span>
                    <a href="/politika-konfidencialnosti" target="_blank" class="main-footer__conditions-link">Соглашения на обработку персональных данных</a>
                    <span> и </span>
                    <a href="/politika-konfidencialnosti" target="_blank" class="main-footer__conditions-link">Политики в отношении персональных данных</a>
                </span>
            </div>
            <div class="col-12 col-sm-7 col-lg-4">
                <div class="main-footer__requisites">
                    <div>ИНН 5029224059</div>
                    <div>ОГРН 1175029021287</div>
                </div>
                <span class="main-footer__copyright">
                    &copy;&nbsp;2007-2019&nbsp;ООО &laquo;Московская Монолитная
                    Компания&raquo; STROYMONOLIT.SU Все права защищены.
                </span>
            </div>
        </div>
    </div>
</footer>