{% import "/views/macros/input.twig" as input %}

<header class="main-header">
    <div class="container main-header__inner">
        <a href="/" class="main-header__logo">
            <img src="/img/logo-mobile.svg" class="main-header__logo-img">
            <span class="main-header__logo-text">
                Московская монолитная компания
            </span>
        </a>
        {% include "/views/partials/menu.twig" %}
        <div class="main-header__place">
             <span class="main-header__address">
                <svg class="icon-svg">
                    <use xlink:href="#icon-place" />
                </svg>
                Москва,  Щелковское шоссе д. 100
             </span>
            <span class="main-header__work-time">Ежедневно: 9:00 - 19:00</span>
        </div>
        <div class="main-header__contacts">
            <a href="tel:{{ app.settings.get('siteSettings:organization:phone')|replace({'-': '', ' ': '', '(': '', ')': ''}) }}" class="main-header__phone callibri_phone" onclick="yaCounter25657856.reachGoal('phone');">
                <svg class="icon-svg">
                    <use xlink:href="#icon-phone" />
                </svg>
	            {{ app.settings.get('siteSettings:organization:phone') }}</a>
            <div class="main-header__socials-container">
                <a href="whatsapp://send?phone={{ app.settings.get('siteSettings:social:whatsapp') }}" class="main-header__socials" onclick="yaCounter25657856.reachGoal('whatsapp');">What'sApp</a>
                <a href="viber://add?number={{ app.settings.get('siteSettings:social:viber') }}" class="main-header__socials" onclick="yaCounter25657856.reachGoal('viber');">Viber</a>
                <a href="sms:{{ app.settings.get('siteSettings:social:sms') }}" class="main-header__socials" onclick="yaCounter25657856.reachGoal('sms');">Sms</a>
            </div>
            <button class="main-header__callback-toggle js-callback-toggle">Обратный звонок</button>
            <div class="callback js-callback-wrap">
                <button class="callback__close js-callback-close"></button>
                <div class="callback__content _active">
                    <span class="callback__title">Заказ обратного звонка</span>
                    <form action="/callback" class="callback__form js-validate-form" method="post" onsubmit="yaCounter25657856.reachGoal('Zakaz_zvn');">
                        <div class="form-group">
                            {{input.input({type: 'text', placeholder: 'Ваше имя', name: 'CallbackForm[name]', required: true})}}
                        </div>
                        <div class="form-group">
                            {{input.input({type: 'tel', placeholder: 'Ваш телефон', name: 'CallbackForm[phone]', mod: 'v-phone', required: true})}}
                        </div>
                        <input value="back_call" type="hidden" name="CallbackForm[type]" class="input page-form__input">
                        <input type="hidden" name="g-recaptcha-response" class="input page-form__input token g-recaptcha">
                        <button type="submit" class="callback__form-submit btn btn-dark">Заказать</button>
                    </form>
                    <p class="form-group calculator-on-page__agree col-12">
                        Отправляя данную форму, Вы&nbsp;соглашаетесь с&nbsp;
                        <a href="/politika-konfidencialnosti" target="_blank" class="calculator-on-page__link">политикой конфиденциальности.</a>
                    </p>
                </div>
                <div class="callback__thanks">
                    <span class="callback__title mb-0">Спасибо за заявку!</span>
                </div>
            </div>
        </div>
        <button class="main-header__toggle menu-toggle">
            <span class="menu-toggle__box">
                <span class="menu-toggle__inner"></span>
            </span>
        </button>
    </div>
</header>