<nav class="pagination">
    <a href="#" class="pagination__nav _prev _disabled">&larr;</a>
    <ul class="pagination__list">
        <li class="pagination__item"><a href="#" class="pagination__link _active">1</a></li>
        <li class="pagination__item"><a href="#" class="pagination__link">2</a></li>
        <li class="pagination__item"><a href="#" class="pagination__link">3</a></li>
        <li class="pagination__item"><a href="#" class="pagination__link _disabled">...</a></li>
        <li class="pagination__item"><a href="#" class="pagination__link">23</a></li>
    </ul>
    <a href="#" class="pagination__nav _next">&rarr;</a>
</nav>