{% extends 'modules/admin/views/layouts/main.twig' %}

{% set title = this.setPageTitle('Добавление статьи') %}
{% set bread = this.setBreadCrumbs({ 'Статьи': '/admin/articles', 'Добавление статьи': '/' ~ app.request.getPathInfo() }) %}

{% block content %}
	{% include 'modules/admin/views/articles/_form.twig' with {
		'article': article,
		'categories': categories
	} only %}
{% endblock %}