<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>Панель управления</title>

	<!--=== CSS ===-->
	<link href="/css/main.admin.css" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/nestable2/1.6.0/jquery.nestable.min.css" rel="stylesheet" type="text/css" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" rel="stylesheet" type="text/css" />

	<!--=== JavaScript ===-->
	<script type="text/javascript" src="/js/main.admin.js"></script>
	<script type="text/javascript" src="/js/admin.scripts.js"></script>
	<script type="text/javascript" src="/js/plugins/flot/jquery.flot.min.js"></script>
	<script type="text/javascript" src="/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
	<script type="text/javascript" src="/js/plugins/flot/jquery.flot.resize.min.js"></script>
	<script type="text/javascript" src="/js/plugins/flot/jquery.flot.time.min.js"></script>
	<script type="text/javascript" src="/js/plugins/pickadate/picker.date.js"></script>
	<script type="text/javascript" src="/js/plugins/pickadate/picker.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/nestable2/1.6.0/jquery.nestable.min.js"></script>
	<script type="text/javascript" src="/js/plugins/nestable/ui_nestable_list.js"></script>
	<script>
	$(document).ready(function(){
		App.init(); // Init layout and core plugins
		Plugins.init(); // Init all plugins
		FormComponents.init(); // Init all form-specific plugins
	});
	</script>
</head>

<body>
	<!-- Header -->
	<header class="header navbar navbar-fixed-top" role="banner">
		<!-- Top Navigation Bar -->
		<div class="container">

			<!-- Only visible on smartphones, menu toggle -->
			<ul class="nav navbar-nav">
				<li class="nav-toggle"><a href="javascript:void(0);" title=""><i class="icon-reorder"></i></a></li>
			</ul>

			<!-- Logo -->
			<a class="navbar-brand" href="/">
				<img src="/images/admin/logo.png" alt="logo" />
				Stroymonolit
			</a>
			<!-- /logo -->

			<!-- Sidebar Toggler -->
			<a href="#" class="toggle-sidebar bs-tooltip" data-placement="bottom" data-original-title="Toggle navigation">
				<i class="icon-reorder"></i>
			</a>
			<!-- /Sidebar Toggler -->

			<!-- Top Right Menu -->
			<ul class="nav navbar-nav navbar-right">
				<!-- User Login Dropdown -->
				<li class="dropdown user">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<!--<img alt="" src="assets/img/avatar1_small.jpg" />-->
						<i class="icon-male"></i>
						<span class="username">{{ app.user.name }}</span>
						<i class="icon-caret-down small"></i>
					</a>
					<ul class="dropdown-menu">

						{#<li><a href="pages_user_profile.html"><i class="icon-user"></i> My Profile</a></li>#}
						{#<li><a href="pages_calendar.html"><i class="icon-calendar"></i> My Calendar</a></li>#}
						{#<li><a href="#"><i class="icon-tasks"></i> My Tasks</a></li>#}
						{#<li class="divider"></li>#}

						<li><a href="/admin/default/logout"><i class="icon-key"></i> Выход</a></li>
					</ul>
				</li>
				<!-- /user login dropdown -->
			</ul>
			<!-- /Top Right Menu -->
		</div>
		<!-- /top navigation bar -->
	</header> <!-- /.header -->

	<div id="container">
		{% if(app.user.role == 'admin') %}
			<div id="sidebar" class="sidebar-fixed">
				<div id="sidebar-content">
					<!--=== Navigation ===-->
					<ul id="nav">
						<li>
							<a href="{{ app.createUrl('/admin/default') }}">
								<i class="icon-dashboard"></i>
								Панель управления
							</a>
						</li>
						{#{% if(app.user.checkAccess('catalogAdminSettings')) %}#}
							{#<li class="current">#}
								{#<a href="javascript:void(0);">#}
									{#<i class="icon-table"></i>#}
									{#Каталог#}
								{#</a>#}
								{#<ul class="sub-menu">#}

								{#</ul>#}
							{#</li>#}
						{#{% endif %}#}
						{#{% if(app.user.checkAccess('handleNews')) %}#}
							<li class="current">
								<a href="javascript:void(0);">
									<i class="icon-table"></i>
									Содержание
								</a>
								<ul class="sub-menu">
									<li>
										<a href="{{ this.createUrl('/admin/requests') }}">Заявки</a>
									</li>
									<li>
										<a href="{{ this.createUrl('/admin/reviews') }}">Отзывы</a>
									</li>
									<li>
										<a href="{{ this.createUrl('/admin/pages') }}">Структура сайта</a>
									</li>
									<li>
										<a href="{{ this.createUrl('/admin/faq') }}">FAQ</a>
									</li>
									<li>
										<a href="{{ this.createUrl('/admin/articles') }}">Статьи</a>
									</li>
								</ul>
							</li>
						{#{% endif %}#}
						{#{% if(app.user.checkAccess('handleNews')) %}#}
						<li class="current">
							<a href="javascript:void(0);">
								<i class="icon-table"></i>
								Каталоги
							</a>
							<ul class="sub-menu">
								<li>
									<a href="{{ this.createUrl('/admin/services') }}">Услуги</a>
								</li>
								<li>
									<a href="{{ this.createUrl('/admin/services') }}">Производители</a>
								</li>
								<li>
									<a href="{{ this.createUrl('/admin/documents') }}">Документы</a>
								</li>
								<li>
									<a href="{{ this.createUrl('/admin/gallery') }}">Галерея</a>
								</li>
							</ul>
						</li>
						{#{% endif %}#}
						{#{% if(app.user.checkAccess('userAdminSettings')) %}#}
							<li class="current">
								<a href="javascript:void(0);">
									<i class="icon-table"></i>
									Настройки
								</a>
								<ul class="sub-menu">
									{% for item in app.settings.getTree().getChild() %}
										<li>
											<a href="{{ this.createUrl('/admin/cp/'~item.id) }}">{{ item.description }}</a>
										</li>
									{% endfor %}
									<li>
										<a href="{{ this.createUrl('/admin/cache') }}">Сбросить кеш</a>
									</li>
								</ul>
							</li>
						{#{% endif %}#}
						{#{% if(app.user.checkAccess('userAdminSettings')) %}#}
		                    {#<li class="current">#}
		                        {#<a href="javascript:void(0);">#}
		                            {#<i class="icon-table"></i>#}
		                            {#Пользователи и роли#}
		                        {#</a>#}
		                        {#<ul class="sub-menu">#}
									{#{% set roles = html.listData(app.authManager.getRoles(), 'name', 'description') %}#}
									{#{% for role, descr in roles %}#}
										{#<li>#}
											{#<a href="{{ this.createUrl('/admin/users/' ~ role) }}">{{ descr }}</a>#}
										{#</li>#}
									{#{% endfor %}#}
		                        {#</ul>#}
		                    {#</li>#}
						{#{% endif %}#}
					</ul>
				</div>
			<div id="divider" class="resizeable"></div>
		</div>
		{% endif %}
		<!-- /Sidebar -->

		<div id="content">
			<div class="container">
				<!-- breadcrumbs -->
				{% if(app.user.role == 'admin' and this.breadcrumbs|length>0) %}
					<div class="crumbs">
						{{ this.widget('ABreadcrumbs', {
							'links': this.breadcrumbs
						}, true) | raw }}
					</div>
				{% endif %}
				<!-- eof breadcrumbs -->

				<!--=== Page Header ===-->
				<div class="page-header">
					<div class="page-title" style="padding-bottom: 0"><!-- @todo : вынести в css -->
						<h3>{{ this.pageTitle | raw }}</h3>
					</div>
				</div>
				<!-- /Page Header -->

				<!--=== Page Content ===-->
				{% block content %}{% endblock %}
				<!-- /Page Content -->
			</div><!-- /.container -->
		</div>
	</div>
</body>
</html>