<div class="product__conditions">
	<div class="container">
		<h2 class="h2 page__subtitle">Условия {% if service.isRent() %}аренды{% else %}продажи{% endif %}</h2>
		<div class="row">
			<div class="product__conditions-item">
				<svg class="icon-svg">
					<use xlink:href="#icon-product-request" />
				</svg>
				Заявка
			</div>
			<div class="product__conditions-item">
				<svg class="icon-svg _left">
					<use xlink:href="#icon-product-arrow" />
				</svg>
			</div>
			<div class="product__conditions-item">
				<svg class="icon-svg">
					<use xlink:href="#icon-product-score" />
				</svg>
				Счет
			</div>
			<div class="product__conditions-item">
				<svg class="icon-svg _left">
					<use xlink:href="#icon-product-arrow" />
				</svg>
			</div>
			<div class="product__conditions-item">
				<svg class="icon-svg">
					<use xlink:href="#icon-product-payment" />
				</svg>
				Оплата 100%
			</div>
			<div class="product__conditions-item">
				<svg class="icon-svg _left">
					<use xlink:href="#icon-product-arrow" />
				</svg>
			</div>
			<div class="product__conditions-item">
				<svg class="icon-svg">
					<use xlink:href="#icon-product-delivery" />
				</svg>
				Доставка
			</div>
		</div>
	</div>
</div>