{% if service.isRent() %}
	{% set delivery = {
		text: 'Специалисты компании привезут вам оборудование и заберут его по истечении срока аренды. При расчете стоимости транспортировки конструкций, учитывается объем опалубки и количество километров в пути. Подписать договор аренды и оплатить услуги можно прямо на объекте.',
		title: 'Доставка арендованной опалубки'
	} %}
{% else %}
	{% set delivery = {
		text: 'Стоимость транспортировки конструкций зависит от их объема и удаленности вашего строительного объекта от нашего склада. Обратитесь к менеджеру, и мы рассчитаем индивидуальные условия. Оплатить опалубку вы сможете, как в офисе компании, так и прямо на объекте, после доставки.',
		title: 'Доставка купленной опалубки'
	} %}
{% endif %}
<div class="product__info">
	<div class="container">
		<h2 class="h2 page__subtitle">{{ delivery.title }}</h2>
		<p class="page__text">
			{{ delivery.text }}
		</p>
		<button type="submit" class="product__info-btn js-callback-toggle">Рассчитать стоимость доставки</button>
		<div class="callback-product callback js-callback-wrap">
			<button class="callback__close js-callback-close"></button>
			<div class="callback__content _active">
				{{modal.modal_form(form)}}
			</div>
			<div class="callback__thanks">
				<span class="callback__title mb-0">Спасибо за заявку!</span>
			</div>
		</div>
	</div>
</div>