<div class="page__intro product__intro" style="background: url({{ service.getImage() }}) no-repeat;background-size: calc(100% + 50px) calc(100% + 50px);">
	<div class="container">
		{% include "/views/modules/breadcrumbs.twig" %}
		<h1 class="h1 page__title">{{ service.title }}</h1>
		{{ service.shortDescription|raw }}
		<div class="index-intro__inner">
			<button type="submit" class="index-intro__btn product__btn btn btn-dark btn-lg page-form__submit js-callback-toggle">{{ service.requestFormTitle ? service.requestFormTitle : formTitle }}</button>
			<div class="callback-product callback js-callback-wrap">
				<button class="callback__close js-callback-close"></button>
				<div class="callback__content _active">
					{{modal.modal_form(modalRequestForm)}}
				</div>
				<div class="callback__thanks">
					<span class="callback__title mb-0">Спасибо за заявку!</span>
				</div>
			</div>
			<button type="submit" class="index-intro__btn btn btn-transparent js-callback-toggle">Перезвоните мне</button>
			<div class="callback js-callback-wrap">
				<button class="callback__close js-callback-close"></button>
				<div class="callback__content _active">
					<span class="callback__title">Заказ обратного звонка</span>
					<form action="/callback" class="callback__form js-validate-form" method="post"  onsubmit="yaCounter25657856.reachGoal('Zakaz_zvn');">
						<div class="form-group">
							{{input.input({type: 'text', placeholder: 'Ваше имя', name: 'CallbackForm[name]', required: true})}}
						</div>
						<div class="form-group">
							{{input.input({type: 'tel', placeholder: 'Ваш телефон', name: 'CallbackForm[phone]', mod: 'v-phone', required: true})}}
						</div>
						<input value="back_call" type="hidden" name="CallbackForm[type]" class="input page-form__input">
						<input type="hidden" name="g-recaptcha-response" class="input page-form__input token g-recaptcha">
						<button type="submit" class="callback__form-submit btn btn-dark">Заказать</button>
					</form>
					<p class="form-group calculator-on-page__agree col-12">
						Отправляя данную форму, Вы&nbsp;соглашаетесь с&nbsp;
						<a href="/politika-konfidencialnosti" target="_blank" class="calculator-on-page__link">политикой конфиденциальности.</a>
					</p>
				</div>
				<div class="callback__thanks">
					<span class="callback__title mb-0">Спасибо за заявку!</span>
				</div>
			</div>
		</div>
	</div>

</div>