<div class="product__payment">
	<div class="container">
		<h2 class="h2 page__subtitle">Варианты оплаты</h2>
		<div class="row">
			<div class="product__payment-item col-lg-3">
				<svg class="icon-svg">
					<use xlink:href="#icon-product-cash" />
				</svg>
				Наличные
			</div>
			<div class="product__payment-item col-lg-3">
				<svg class="icon-svg">
					<use xlink:href="#icon-product-barter" />
				</svg>
				Бартер
			</div>
			<div class="product__payment-item col-lg-3">
				<svg class="icon-svg">
					<use xlink:href="#icon-product-nocash" />
				</svg>
				Безналичный расчёт (с НДС)
			</div>
		</div>
	</div>
</div>