{% set advantagesRent = [
	{
		desc: ['Большой склад с комплектующими и любыми видами опалубки: все <span>необходимые комбинации — в наличии</span>'],
		img: '/img/product/aqdv1.jpg'
	},
	{
		desc: ['Сметы, спецификации, расчеты для ваших проектов и <span>полное сопровождение сделки — абсолютно бесплатно</span>'],
		img: '/img/product/aqdv2.jpg'
	},
	{
		desc: ['Не только новая, но и б/у опалубка. Такие же <span>качественные, современные конструкции</span>, но по более выгодной цене'],
		img: '/img/product/aqdv3.jpg'
	},
	{
		desc: ['<span>Оборудование, соответствующее СНиП.</span> Сотрудничество с лучшими российскими и зарубежными производителями'],
		img: '/img/product/aqdv4.jpg'
	},
	{
		desc: ['<span>Лояльность и клиентоориентированность:</span> гибкая система оплаты и специальные условия для постоянных покупателей'],
		img: '/img/product/aqdv5.jpg'
	},
	{
		desc: ['<span>Собственный транспорт</span> — быстрая доставка больших объемов опалубки по Москве и Московской области'],
		img: '/img/product/aqdv6.jpg'
	}
] %}
<section class="advantages-rent-product">
	<div class="container">
		<h2 class="advantages-rent__title h2">Почему {% if service.isRent() %}арендовать{% else %}купить{% endif %} опалубку <br> у нас — это выгодно</h2>
		<ul class="advantages-rent__list collapsed row">
			{% for item in advantagesRent %}
				<li class="advantages-rent__item col-12 col-md-6">
					<picture>
						<source data-srcset="{{ item.img }}" type="image/webp">
						<img src="{{ item.img }}"  class="lazyload">
					</picture>
					<div class="advantages-rent__item-content">
						<h3 class="advantages-rent__item-title h3">{{item.title}}</h3>
						{% for desc in item.desc %}
							<p class="advantages-rent__desc">{{desc|raw}}</p>
						{% endfor %}
					</div>
				</li>
			{% endfor %}
			<button class="advantages-rent__show">Показать еще</button>
		</ul>
	</div>
</section>