{% extends 'views/layouts/main.twig' %}
{% block content %}
	<section class="about page">
		<div class="container">
			<br>
			<h1>{{ app.user.getFlash('message_header') }}</h1>
			<h2>{{ app.user.getFlash('message') }}</h2>
		</div>
	</section>
{% endblock content %}