<!DOCTYPE html>
<html lang="ru">
<head>
    {% block head %}
        
    {% endblock head %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ this.pageDescription }}">
	{% block css %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/css/main.css?v={{ filemtime('css/main.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#fffff">
    <meta name="sprite-revision" content="{{ filemtime('img/sprite.svg') }}">
    <title>
		{{ this.pageTitle }}
    </title>
    {% block openGraph %}{{ app.openGraph | raw }}{% endblock %}
	{{ app.settings.get('siteSettings:code:codeAfterHead') | raw  }}
    <script src="https://www.google.com/recaptcha/api.js?render=6Le5H7YUAAAAAIuoxMyHgiAb5GxeFc55Pv1nh9xD"></script>
    <style>
        .grecaptcha-badge {
            display: none !important;
        }
    </style>
</head>
<body>
    <div style="display: none">{% include "/views/sprite.svg" %}</div>
    {{ app.settings.get('siteSettings:code:codeBeforeBody') | raw  }}
    <div class="l-wrapper">
        {% include "/views/layouts/blocks/header.twig" %}
        <div class="callback__thanks-all">
            <button class="callback__close js-callback-thanks-close"></button>
            <span class="callback__title">Спасибо за заявку!</span>
        </div>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        {% include "/views/layouts/blocks/footer.twig" %}
        <div class="overlay js-overlay"></div>
	    {% block beforeMainJs %}{% endblock %}
        <script type="text/javascript" src="/js/main.bundle.js?v={{ filemtime('js/main.bundle.js') }}"></script>
	    {% block all_js %}
	        {% block js %}{% endblock %}
        {% endblock %}
	    {{ app.settings.get('siteSettings:mainPage:ym') | raw  }}
	    {{ app.settings.get('siteSettings:mainPage:ga') | raw  }}
	    {{ app.settings.get('siteSettings:code:codeAfterBody') | raw }}
    </div>
</body>
</html>