{% extends '/views/layouts/main.twig' %}

{% set breadcrumbs = [
	{
		link: '/',
		text: 'Главная'
	},
	{
		active: true,
		text: 'Документы'
	}
] %}
{% set rentList =
	{
		title: 'Услуги аренды',
		arr: app.controller.getRentServicesBlock()
	}
%}
{% block content %}
	<section class="page _padding">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-7">
					<div class="page__intro _small">
						{% include "/views/modules/breadcrumbs.twig" %}
						<h1 class="page__title">Документы</h1>
						<p class="page__text">
							Предлагаем ознакомиться с&nbsp;образцом типового договора аренды
						</p>
					</div>
					<div class="page__body">
						{% for doc in documents %}
							<a href="{{ doc.getFile }}" class="page__file">
								<svg class="icon-svg">
									<use xlink:href="#icon-file" />
								</svg>
								<span>{{ doc.name }}</span>
							</a>
						{% endfor %}
						<p class="page__text">
							По любым вопросам покупки опалубки, а также об условиях аренды Вы можете узнать позвонив по
							телефону: <a href="tel:{{ app.settings.get('siteSettings:organization:phone')|replace({'-': '', ' ': '', '(': '', ')': ''}) }}" class="callibri_phone" onclick="yaCounter25657856.reachGoal('phone');">{{ app.settings.get('siteSettings:organization:phone') }}</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% include "/views/modules/rent.twig" %}
{% endblock content %}