{% extends 'views/layouts/main.twig' %}

{% block content %}
	{% if code in [403, 404, 500] %}
		{% include 'views/site/error/' ~ code ~ '.twig' %}
	{% else %}
		{# % include 'views/site/error/other.twig' % #}
	{% endif %}

	{#
	<pre>code: {{ code | dump }}</pre>
	<pre>type: {{ type | dump }}</pre>
	<pre>errorCode: {{ errorCode | dump }}</pre>
	<pre>message: {{ message | dump }}</pre>
	<pre>file: {{ file | dump }}</pre>
	<pre>line: {{ line | dump }}</pre>
	#}
{% endblock %}