{% extends '/views/layouts/main.twig' %}
{% import "/views/macros/form.twig" as form %}
{% import "/views/macros/table.twig" as table %}
{% import "/views/macros/input.twig" as input %}
{% import "/views/macros/modal-form.twig" as modal %}
{% block openGraph %}
	{{
	app.openGraph
		.image('/img/index/intro-bg.png')
	| raw
	}}
{% endblock %}
{% set rentList =
	{
		title: 'Аренда опалубки в Москве и Московской области',
		arr: app.controller.getServicesBlockOnMainPage()
	}
%}

{% set rentTable = {
	title: 'Стоимость аренды опалубки в Москве и области',
	head: [
		'Наименование продукции',
		'Цена за сутки',
		'Цена за месяц'
	],
	body: app.controller.getMainPriceTable()
} %}

{% set types = [
	{
		img: '01.png',
		link: '/arenda/opalubka-sten',
		title: 'Опалубка стен',
		desc: [
		'Стальная, алюминиевая, односторонняя (контрфорсы). Наши конструкции сделаны из&nbsp;прочных материалов.
            С&nbsp;их&nbsp;помощью, вы&nbsp;значительно сократите срок возведения стен и&nbsp;перегородок, повысите
            рентабельность объектов строительства. Универсальность крупнощитовой и&nbsp;мелкощитовой опалубки позволяет
            решить сложные задачи, не&nbsp;беспокоясь за&nbsp;качество объектов.'
	]
	},
	{
		img: '02.png',
		link: '/arenda/opalubka-fundamenta',
		title: 'Опалубка фундамента',
		desc: [
		'Поможет залить основание здания, избежав неточностей и&nbsp;трещин. Доступны такие виды мелкощитовой
            опалубки: съемная&nbsp;&mdash; удаляется, когда бетонная смесь застывает, несъемная&nbsp;&mdash; навсегда
            становится частью фундамента. Металлическая опалубка&nbsp;&mdash; хорошее решение, если вы&nbsp;строите
            малоэтажные дома на&nbsp;заказ.',
	]
	},
	{
		img: '03.png',
		link: '/arenda/opalubka-kolonn',
		title: 'Опалубка колонн',
		desc: [
		'Позволяет создать ровные поддерживающие элементы. Щитовая опалубка с&nbsp;влагостойкой ламинированной
            фанерой используется для колонн прямоугольной формы, а&nbsp;балочно-ригельная&nbsp;&mdash; для
            цилиндрических. Вы&nbsp;будете создавать любое количество колонн за&nbsp;считанные часы, если купите нашу
            опалубку для монолитного строительства.'
	]
	},
	{
		img: '05.png',
		link: '/arenda/opalubka-perekrytij',
		title: 'Опалубка перекрытий',
		desc: [
		'При устройстве перекрытий в монолитном строительстве наиболее востребованной является конструкция, в которой в качестве опорных элементов используются объемные и <a href="/sale/opalubka-perekrytij/teleskopicheskie-stojki">телескопические стойки</a>. Такая опалубка перекрытий популярна во всех видах строительства, так как позволяет сократить затраты на монтаж, а также создавать системы различных форм и габаритов.'
		]
	},
	{
		img: '04.png',
		link: '/sale/komplektuyushchie',
		title: 'Комплектующие',
		desc: [
		'Всегда в&nbsp;наличии на&nbsp;нашем складе: фанера для опалубки, распорки, стойки, унивилки, подкосы,
            домкраты, замки, схватки, фермы, шкворни и&nbsp;смазки. Широкий ассортимент каталогов и&nbsp;оперативная
            доставка по&nbsp;Москве и&nbsp;Московской области позволят вам заменить любые детали опалубки очень
            оперативно. Вы&nbsp;не&nbsp;отстанете от&nbsp;графика и&nbsp;надолго сохраните опалубочные системы
            в&nbsp;рабочем состоянии.'
	]
	}
] %}

{% set rentForm = {
	id: 'rentForm',
	title: 'Заказать аренду опалубки',
	class: 'rent-form',
	action: app.createUrl('/callback'),
	method: 'post',
	onSubmit: 'yaCounter25657856.reachGoal("Otpr_zayv");',
	submit: 'Заказать',
	fields: [
		{
			name: 'CallbackForm[name]',
			type: 'text',
			placeholder: 'Ваше имя',
			required: true
		},
		{
			name: 'CallbackForm[email]',
			type: 'email',
			placeholder: 'Ваш e-mail',
			required: true
		},
		{
			name: 'CallbackForm[phone]',
			type: 'tel',
			mod: 'js-phone',
			placeholder: 'Телефон',
			required: true
		},
		{
			name: 'CallbackForm[type]',
			type: 'hidden',
			value: 'request',
			required: true
		},
		{
			name: 'CallbackForm[category]',
			type: 'hidden',
			value: 'С главной страницы',
			required: true
		},
		{
			name: 'g-recaptcha-response',
			type: 'hidden',
			mod: 'token g-recaptcha',
		}
	]
} %}
{% set modalRequestForm = {
	title: 'Бесплатный расчет',
	class: 'row',
	action: app.createUrl('/callback'),
	onSubmit: 'yaCounter25657856.reachGoal("Raschet");',
	submit: 'Отправить',
	attach: true,
	fields: [
		{
			name: 'CallbackForm[name]',
			type: 'text',
			placeholder: 'Ваше имя',
			required: true
		},
		{
			name: 'CallbackForm[phone]',
			type: 'tel',
			mod: 'v-phone',
			placeholder: 'Телефон',
			required: true
		},
		{
			name: 'CallbackForm[email]',
			type: 'email',
			placeholder: 'Ваш e-mail',
		},
		{
			name: 'CallbackForm[comment]',
			type: 'textarea',
			placeholder: 'Комментарий',
		},
		{
			name: 'CallbackForm[type]',
			type: 'hidden',
			value: 'request',
			required: true
		},
		{
			name: 'CallbackForm[category]',
			type: 'hidden',
			value: service.parent().find().title,
			required: true
		},
		{
			name: 'CallbackForm[product]',
			type: 'hidden',
			value: service.title,
			required: true
		},
		{
			name: 'g-recaptcha-response',
			type: 'hidden',
			mod: 'token g-recaptcha',
		}
	]
} %}
{% block content %}
	<section class="index-intro">
		<div class="container index-intro__container">
			<div class="row index-intro__row">
				<div class="col-12 col-md-6 index-intro__content">
					<h1 class="index-intro__title h1">Аренда и&nbsp;продажа опалубки в&nbsp;Москве</h1>
					<p class="index-intro__text">
						Проверенные бренды «Doka», «Гамма», «МЕКОС». Бесплатно подберем комплектацию специально для вашего проекта.
						Просто оставьте заявку или напишите нам на почту:  <a href="mailto:{{ app.settings.get('siteSettings:organization:email') }}" class="callibri_email" onclick="yaCounter25657856.reachGoal('email');">{{ app.settings.get('siteSettings:organization:email') }}</a>
					</p>
					<div class="index-intro__inner">
						<button type="submit" class="index-intro__btn product__btn btn btn-dark btn-lg page-form__submit js-callback-toggle">Рассчитать стоимость</button>
						<div class="callback-product callback js-callback-wrap">
							<button class="callback__close js-callback-close"></button>
							<div class="callback__content _active">
								{{modal.modal_form(modalRequestForm)}}
							</div>
							<div class="callback__thanks">
								<span class="callback__title mb-0">Спасибо за заявку!</span>
							</div>
						</div>
						<button type="submit" class="index-intro__btn btn btn-transparent js-callback-toggle">Перезвоните мне</button>
						<div class="callback js-callback-wrap">
							<button class="callback__close js-callback-close"></button>
							<div class="callback__content _active">
								<span class="callback__title">Заказ обратного звонка</span>
								<form action="/callback" class="callback__form js-validate-form" method="post" onsubmit="yaCounter25657856.reachGoal('Zakaz_zvn');">
									<div class="form-group">
										{{input.input({type: 'text', placeholder: 'Ваше имя', name: 'CallbackForm[name]', required: true})}}
									</div>
									<div class="form-group">
										{{input.input({type: 'tel', placeholder: 'Ваш телефон', name: 'CallbackForm[phone]', mod: 'v-phone', required: true})}}
									</div>
									<input value="back_call" type="hidden" name="CallbackForm[type]" class="input page-form__input">
									<input type="hidden" name="g-recaptcha-response" class="input page-form__input token g-recaptcha">
									<button type="submit" class="callback__form-submit btn btn-dark">Заказать</button>
								</form>
								<p class="form-group calculator-on-page__agree col-12">
									Отправляя данную форму, Вы&nbsp;соглашаетесь с&nbsp;
									<a href="/politika-konfidencialnosti" target="_blank" class="calculator-on-page__link">политикой конфиденциальности.</a>
								</p>
							</div>
							<div class="callback__thanks">
								<span class="callback__title mb-0">Спасибо за заявку!</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% include "/views/modules/rent.twig" %}
	<section class="index-desc">
		<div class="container">
			<h2 class="index-desc__title h2">Как выбрать опалубку?</h2>
			<p class="index-desc__text">
				На чем нужно заострить внимание, если вы впервые выбираете опалубку для монолитного строительства?
			</p>
			<div class="row">
				<div class="index-desc__item col-12 col-lg-4">
					<div class="index-desc__icon-wrap">
						<svg class="icon-svg">
							<use xlink:href="img/sprite.svg#icon-quality" />
						</svg>
					</div>
					<h3 class="index-desc__subtitle">Качество замков и креплений</h3>
					<p class="index-desc__text">
						Мы контролируем состояние конструкций. На комплектующих, которые вам доставят, не должно быть отверстий, сколов и повреждений. От этого зависит скорость сборки-разборки и прочность опалубки. Если вас что-то не устроило, позвоните нам — на ваш объект отправится бригада гарантийного обслуживания.
					</p>
				</div>
				<div class="index-desc__item col-12 col-lg-4">
					<div class="index-desc__icon-wrap">
						<svg class="icon-svg">
							<use xlink:href="img/sprite.svg#icon-like" />
						</svg>
					</div>
					<h3 class="index-desc__subtitle">Комплексный подход</h3>
					<p class="index-desc__text">
						Широкий ассортимент — гордость нашей компании. Возможно, сейчас вам интересен определенный тип опалубки, но в будущем могут понадобиться и более сложные комплекты. Мы позаботимся о том, чтобы все элементы систем соединялись без погрешностей, просто сообщите о своих планах нашему менеджеру.
					</p>
				</div>
				<div class="index-desc__item col-12 col-lg-4">
					<div class="index-desc__icon-wrap">
						<svg class="icon-svg">
							<use xlink:href="img/sprite.svg#icon-deal" />
						</svg>
					</div>
					<h3 class="index-desc__subtitle">Сопровождение сделки</h3>
					<p class="index-desc__text">
						На основе вашей проектной документации, специалисты компании должны составить индивидуальную смету. Кроме того, менеджеры могут рассказать про специфику монтажа каждой из выбранных опалубочных систем, посчитать транспортные расходы и предложить выгодные условия для долгосрочного сотрудничества.
					</p>
				</div>
			</div>
		</div>
	</section>
	<div class="container index-rent-table">
		{{table.rent_table(rentTable)}}
	</div>

	{% include "/views/modules/types.twig" %}
	<div class="container calculator-main">
		{% include "/views/modules/calculator-on-page.twig" %}
	</div>
	{% include "/views/modules/work-order.twig" %}
	{% include "/views/modules/about-block.twig" %}
	{% include "/views/modules/advantages-rent.twig" %}
	{% include "/views/modules/best.twig" %}
	{#{% include "/views/modules/objects.twig" %}#}
	{{form.page_form(rentForm)}}
	{#{% include "/views/modules/reviews.twig" %}#}
{% endblock content %}