{% extends 'modules/admin/views/layouts/main.twig' %}

{% set title = this.setPageTitle('Добавление вопроса') %}
{% set bread = this.setBreadCrumbs({ 'FAQ': '/admin/faq', 'Добавление вопроса': '/' ~ app.request.getPathInfo() }) %}

{% block content %}
	{% include 'modules/admin/views/faq/_form.twig' with {
		'faq': faq,
	} only %}
{% endblock %}