

{% macro page_form(params) %}
    {% import "/views/macros/input.twig" as input %}
    <section class="page-form  {{params.class}}">
        <div class="container">
            <div class="page-form__title">
                <h2 class="h2">{{params.title}}</h2>
	            {% if params.subtitle %}
                    <p>{{ params.subtitle }}</p>
	            {% endif %}
            </div>
            <form action="{{params.action}}" method="post" class="page-form__form js-validate-form" onsubmit="{{ params.onSubmit }}">
                {% for item in params.fields %}
	                {% if item.type == 'textarea' %}
                        <div class="input-group page-form__input-group">
			                {{ input.textarea(item, 'page-form__input') }}
                        </div>
	                {% elseif item.type != 'hidden' %}
                        <div class="input-group page-form__input-group">
			                {{ input.input(item, 'page-form__input') }}
                        </div>
	                {% else %}
		                {{ input.input(item, 'page-form__input') }}
	                {% endif %}
                {% endfor %}
                <button type="submit" class="btn btn-dark btn-lg page-form__submit">{{params.submit}}</button>
            </form>
            <div class="page-form__desc">
                Отправляя данную форму, Вы&nbsp;соглашаетесь с&nbsp;
                <a href="/politika-konfidencialnosti" target="_blank" class="page-form__link">политикой конфиденциальности.</a>
            </div>
        </div>
    </section>
{% endmacro %}