{% macro input(params, class) %}
    <input
            value="{{ params.value }}"
        id="{{params.id}}"
        type="{{params.type}}"
        name="{{params.name}}"
        class="input {{class}} {{params.mod}}"
        placeholder="{{params.placeholder}}"
        {% if params.required %}
            required
        {% endif %}
    >
{% endmacro %}

{% macro textarea(params, class) %}
    <textarea name="{{params.name}}" placeholder="{{params.placeholder}}" id="{{params.id}}"
        class="textarea {{class}} {{params.mod}}"></textarea>
{% endmacro %}