{% macro modal_form(params) %}
    {% import "/views/macros/input.twig" as input %}
    <span class="callback__title">{{params.title}}</span>
    <form action="{{ app.createUrl('/callback') }}" method="post" class="js-validate-form {{ params.class }}" onsubmit="{{ params.onSubmit }}">
	    {% for item in params.fields %}
		    {% if item.type == 'textarea' %}
			    <div class="form-group col-12  col-md-8">
				    {{ input.textarea(item) }}
			    </div>
		    {% elseif item.type != 'hidden' %}
			    <div class="form-group col-12 col-md-4">
				    {{ input.input(item) }}
			    </div>
            {% else %}
			    {{ input.input(item, 'page-form__input') }}
		    {% endif %}
	    {% endfor %}
	    <div class="form-group modal-calculator calculator-on-page__submit col-12 col-md-4">
		    {% if params.attach %}
			    <label for="calculatorFile" class="input-file">
				    <svg class="icon-svg">
					    <use xlink:href="#icon-clip" />
				    </svg>
				    <span>Прикрепить файл</span>
				    <input type="file" name="CallbackForm[file]" id="calculatorFile" data-maxsize="{{ params.maxFileSize }}">
				    <img class="file-attach-preloader" src="/img/preloader.gif">
			    </label>
		    {% endif %}
		    <button type="submit" class="calculator__form-submit btn btn-dark">{{ params.submit }}</button>
	    </div>
	    {% if params.attach %}
		    <span class="file-attach-error col-12">
            </span>
	    {% endif %}
	    <p class="form-group calculator-on-page__agree col-12">
		    Отправляя данную форму, Вы&nbsp;соглашаетесь с&nbsp;
		    <a href="/politika-konfidencialnosti" target="_blank" class="calculator-on-page__link">политикой конфиденциальности.</a>
	    </p>
    </form>
{% endmacro %}