{% macro prices(params) %}
    {% if params.items|length > 0 %}
        <section class="prices-block">
            <h2 class="prices-block__title h2">{{ params.title|raw }}</h2>
            <div class="row">
                {#{% set col = 12/params.items|length %}#}
                {% for item in params.items %}
                    {% if item.price %}
                        <div class="col-12 col-sm-4">
                            <div class="prices-block__item">
                                <p class="prices-block__item-title">{{ item.title }}</p>
                                <p class="prices-block__price">{{ item.price|raw }}&nbsp;<span class="currency">₽</span></p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
    {% endif %}
{% endmacro %}