{% macro rent_table(params) %}
{% if params.body|length > 0 %}
    <section class="rent-table">
        <h2 class="rent-table__title h2">{{params.title|raw}}</h2>
        <table class="rent-table__table table collapsed">
            <thead>
                <tr>
                    {% for item in params.head %}
                    <th scope="col">{{item}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in params.body %}
                <tr {%if row.length > 3 %} class="_much" {%endif%}>
                    {% for item in row %}
                    <td>
                        {% if loop.index != 1 %}
                        <span class="rent-table__type d-sm-none">{{params.head[loop.index - 1]}} ₽</span>
                        {% endif %}
                        <span class="rent-table__content">{{item}}
                            {% if loop.index != 1 and (not loop.last ) %} ₽{% elseif loop.last and not params.isRent and row|length>3 %}кг{% elseif loop.last %}₽{% endif %}
                        </span>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="rent-table__show">Показать еще цены</button>
    </section>
{% endif %}
{% endmacro %}