{% extends '/views/layouts/main.twig' %}

{% set breadcrumbs = [
	{
		link: '/',
		text: 'Главная'
	},
	{
		active: true,
		text: 'FAQ'
	}
] %}
{% block content %}

	<section class="faq page">
		<div class="container">
			<div class="page__intro">
				{% include "/views/modules/breadcrumbs.twig" %}
				<h1 class="h1 page__title">FAQ</h1>
				<p class="page__text">
					В&nbsp;этом разделе мы&nbsp;собрали часто задаваемые вопросы относительно опалубки
				</p>
			</div>
			<div class="row">
				<div class="col-12 col-lg-10">
					<div class="faq__questions">
						{% for item in questions %}
							<article class="faq__questions-item">
								<div class="faq__questions-item-head">
									<p class="faq__questions-item-bold">Вопрос</p>
									<p class="faq__questions-item-desc">{{item.question}}</p>
								</div>
								<div class="faq__questions-item-body">
									<p class="faq__questions-item-bold">Ответ</p>
									<p class="faq__questions-item-desc">{{item.answer|raw}}</p>
								</div>
							</article>
						{% endfor %}
					</div>
				</div>
			</div>

		</div>
	</section>

{% endblock content %}