<nav class="main-nav">
    <ul class="main-nav__list">
		{% for item in app.controller.getMainMenu() %}
            <li class="main-nav__item">
                <a href="{{ item.subList([22,23]) ? '#' : item.getUrl()}}" {% if item.subList([22,23]) %} class="{{ item.activeClass() }} main-nav__link js-sublist" {% else %} class=" {{ item.activeClass() }} main-nav__link" {% endif %}>{{item.title}}
					{% if item.subList([22,23]) %}
                        <svg class="icon-svg">
                            <use xlink:href="#icon-arrow-down"/>
                        </svg>
					{% endif %}
                </a>
				{% if item.subList([22,23]) %}
                    <ul class="main-nav__sublist">
						{% for sitem in item.subList([22,23]) %}
                            <li class="main-nav__subitem">
                                <a href="{{sitem.getUrl()}}" class="{{ sitem.activeClass() }} main-nav__link">{{sitem.title}}</a>
                            </li>
						{% endfor %}
                    </ul>
				{% endif %}
            </li>
		{% endfor %}
    </ul>
</nav>