<div class="menu">
    <button class="menu-toggle _menu-open">
        <span class="menu-toggle__box">
            <span class="menu-toggle__inner"></span>
        </span>
    </button>
    {% include "/views/partials/main-nav.twig" %}
    {% include "/views/partials/sub-nav.twig" %}
</div>