{% set subNav2 = [
    {
        text: 'Производители',
        url: '/brands',
        subList: app.menuHelper.getChildServiceList(35),
        class: app.request.requestUri == '/brands' ? '_active' : ''
    },
    {
        text: 'Информация',
        url: 'javascript:;',
        subList: app.menuHelper.getChildPagesList(21)
    }
] %}
{% set subNav = app.controller.getLeftServiceMenu() %}
<nav class="sub-nav">
    <a href="/" class="sub-nav__logo d-none">
        <img src="/img/logo-desktop.png" class="sub-nav__logo-img" alt="Московская монолитная компания">
    </a>
    <ul class="sub-nav__list" id="subNavAcc">
	    {% for item in subNav %}
            {% set loo = loop.index + 100 %}
            <li class="sub-nav__item" id="subNavHead{{loo}}">
                <a href="{{ item.url }}" class="sub-nav__item-title {{ item.class }}">
		            {{item.text}}
                </a>
                <svg class="icon-svg arrow-open collapsed"
                     role="button"
                     data-toggle="collapse"
                     data-target="#subnavList{{loo}}"
                     aria-expanded="false"
                     aria-controls="subnavList{{loo}}">
                    <use xlink:href="#icon-arrow-down"/>
                </svg>
			    {% if item.subList %}
                    <ul class="sub-nav__sublist collapse"
                        id="subnavList{{loo}}"
                        aria-labelledby="subNavHead{{loo}}"
                        data-parent="#subNavAcc"
                    >
					    {% for link in item.subList %}
                            <li id="subNavSub{{loop.index}}" class="sub-nav__subitem">
                                <a href="{{link.link}}" class="sub-nav__sublink {{ link.class }}">
		                            {{link.text}}
                                </a>
	                            {% if link.subList %}
                                    <svg class="icon-svg arrow-open collapsed"
                                         role="button"
                                         data-toggle="collapse"
                                         data-target="#subsublist{{loop.index}}"
                                         aria-expanded="false"
                                         aria-controls="subsubList{{loop.index}}">
                                        <use xlink:href="#icon-arrow-down"/>
                                    </svg>
	                            {% endif %}
							    {% if link.subList %}
                                    <ul id="subsublist{{loop.index}}" class="sub-nav__subsublist collapse">
									    {% for link in link.subList %}
                                            <li class="sub-nav__subsublist-subitem">
                                                <a href="{{link.link}}" class="sub-nav__sublink {{ link.class }}">{{link.text}}</a>
                                            </li>
									    {% endfor %}
                                    </ul>
							    {% endif %}
                            </li>
					    {% endfor %}
                    </ul>
			    {% endif %}
            </li>
	    {% endfor %}
	    {% for item in subNav2 %}

            <li class="sub-nav__item" id="subNavHead{{loop.index}}">
                <a href="{{ item.url }}" class="sub-nav__item-title {{ item.class }}">
		            {{item.text}}
                </a>
                <svg class="icon-svg arrow-open collapsed"
                     role="button"
                     data-toggle="collapse"
                     data-target="#subnavList{{loop.index}}"
                     aria-expanded="false"
                     aria-controls="subnavList{{loop.index}}">
                    <use xlink:href="#icon-arrow-down"/>
                </svg>
			    {% if item.subList %}
                    <ul class="sub-nav__sublist collapse"
                        id="subnavList{{loop.index}}"
                        aria-labelledby="subNavHead{{loop.index}}"
                        data-parent="#subNavAcc"
                    >
					    {% for link in item.subList %}
                            <li class="sub-nav__subitem">
                                <a href="{{link.link}}" class="sub-nav__sublink {{ link.class }}">{{link.text}}</a>
                            </li>
					    {% endfor %}
                    </ul>
			    {% endif %}
            </li>
	    {% endfor %}
    </ul>
    <button class="sub-nav__callback-toggle main-header__callback-toggle js-callback-toggle">Обратный звонок</button>
    <div class="sub-nav__place-mobile">
        <a href="https://goo.gl/maps/Ekuj3x6XPcVHCo1i9" class="main-header__address">Москва,  Щелковское шоссе д. 100</a>
        <p class="main-header__work-time">Ежедневно: 9:00 - 19:00</p>
    </div>
</nav>