{% extends 'modules/admin/views/layouts/main.twig' %}

{% set title = this.setPageTitle('Добавить отзыв') %}
{% set bread = this.setBreadCrumbs({ 'Отзывы': '/admin/reviews', 'Добавить отзыв': '' }) %}

{% block content %}
	{% autoescape false %}
		{% if app.user.hasFlash('success') %}
			<div class="alert alert-success">
				{{ app.user.getFlash('success') }}
			</div>
		{% endif %}
		{% if item.hasErrors() %}
			<div class="alert alert-danger">
				{{ C.Html.errorSummary(item) }}
			</div>
		{% endif %}
		{{ C.Html.form('', 'post', { 'class': 'form-horizontal', 'enctype': 'multipart/form-data', 'style': 'margin: 0' }) }}
		<div class="row">
			<div class="col-md-12">
				<div class="widget box">
					<div class="widget-header">
						{#<h4><i class="icon-reorder"></i> Основное</h4>#}
					</div>
					<div class="widget-content">
						<div class="form-group {{ item.getError('name') ? 'has-error' }}">
							{{ C.Html.activeLabel(item, 'name', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeTextField(item, 'name', { 'class': 'form-control' }) }}
							</div>
						</div>
						<div class="form-group {{ item.getError('company') ? 'has-error' }}">
							{{ C.Html.activeLabel(item, 'company', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeTextField(item, 'company', { 'class': 'form-control' }) }}
							</div>
						</div>
						<div class="form-group {{ item.getError('text') ? 'has-error' }}">
							{{ C.Html.activeLabel(item, 'text', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-10">
								{{ app.controller.widget('CKEditor', {
									'model': item,
									'attribute': 'text',
									'language': 'ru',
									'editorTemplate': 'full',
								}, true) | raw }}
							</div>
						</div>
						<div class="form-group {{ item.getError('active') ? 'has-error' }}">
							{{ C.Html.activeLabel(item, 'active', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeCheckBox(item, 'active', {}) }}
							</div>
						</div>
						<div class="form-group {{ item.getError('position') ? 'has-error' }}">
							{{ C.Html.activeLabel(item, 'position', { 'class': 'col-md-2 control-label' }) }}
							<div class="col-md-6">
								{{ C.Html.activeTextField(item, 'position', {}) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{ C.Html.submitButton('Сохранить', { 'class': 'btn btn-primary' }) }}
		{{ C.Html.endForm() }}
	{% endautoescape %}


{% endblock %}
