{% extends 'modules/admin/views/layouts/main.twig' %}

{% set title = this.setPageTitle(category.name) %}
{% set bread = this.setBreadCrumbs({ 'Отзывы': '' }) %}

{% block content %}
	<a class="btn btn-default" href="/admin/reviews/update">Добавить отзыв</a></br></br>
	<table class="table table-hover table-striped table-bordered table-highlight-head">
		<thead>
		<tr>
			<th>Позиция</th>
			<th>Автор</th>
			<th>Компания</th>
			<th>Отзыв</th>
			<th>Активен</th>
			<th>Действие</th>
		</tr>
		</thead>
		<tbody>
			{% for review in reviews %}
				<tr>
					<td>{{ review.position }}</td>
					<td>{{ review.name }}</td>
					<td>{{ review.company }}</td>
					<td>{{ review.text }}</td>
					<td>{% if review.active %}Да{% else %}Нет{% endif %}</td>
					<td>
						<a href="{{ app.createUrl('/admin/reviews/update', { id: review.id }) }}" class="btn btn-xs"><i class="icon-edit"></i></a>
						<a href="{{ app.createUrl('/admin/reviews/delete', { id: review.id }) }}" class="btn btn-xs" onclick="return confirm('Вы действительно хотите удалить запись?');"><i class="icon-trash"></i></a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}