<table class="table table-striped table-bordered">
	<thead>
	<tr role="row">
		<th>#</th>
		<th>Имя</th>
		<th>Контакты</th>
		<th>Действие</th>
	</tr>
	</thead>
	<tbody>
	{% for request in data %}
		<tr>
			<td>{{ request.id }}</td>
			<td>{{ request.name }}</td>
			<td>{{ request.phone }} / {{ request.email }}</td>
			<td>
				<button class="btn btn-danger js-request-delete" data-id="{{ request.id }}">Удалить</button>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>