{% extends 'modules/admin/views/layouts/main.twig' %}

{% set title = this.setPageTitle('Услуги') %}
{% set bread = this.setBreadCrumbs({ 'Услуги': '/admin/services'}) %}
{% import "modules/admin/views/services/_tree.twig" as tree %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
			{% if app.user.hasFlash('success') %}
				<div class="alert alert-success">
					{{ app.user.getFlash('success') }}
				</div>
			{% endif %}
			{% if app.user.hasFlash('error') %}
				<div class="alert alert-warning">
					{{ app.user.getFlash('error') }}
				</div>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="dd" id="nestable2">
				<ol class="dd-list">
					{{ tree.build(services) }}
				</ol>
			</div>
		</div>
	</div>
{% endblock %}