{% extends 'modules/admin/views/layouts/main.twig' %}

{% set title = this.setPageTitle(title) %}
{% set bread = this.setBreadCrumbs({ 'Услуги': '/admin/services/index', (title): ''}) %}
{% block content %}
	<div class="row">
		<div class="col-md-12">
			{% autoescape false %}
				{{ C.Html.errorSummary(service) }}
				{{ C.Html.statefulForm('', 'post', { 'class': 'form-horizontal', 'enctype': 'multipart/form-data'}) }}
					<div class="form-group {{ service.getError('slug') ? 'has-error' }}">
						{{ C.Html.activeLabel(service, 'slug', { 'class': 'col-md-2 control-label' }) }}
						<div class="col-md-6">
							<div class="input-group">
									<span class="input-group-btn">
										<button class="btn btn-default" type="button">{{ app.controller.createAbsoluteUrl('/') }}{{ service.parentUrl }}</button>
									</span>
								{{ C.Html.activeTextField(service, 'slug', { 'class': 'form-control' }) }}
							</div>
						</div>
					</div>
					<div class="form-group {{ service.getError('active') ? 'has-error' }}">
						{{ C.Html.activeLabel(service, 'active', { 'class': 'col-md-2 control-label' }) }}
						<div class="col-md-6">
							{{ C.Html.activeCheckBox(service, 'active', { 'class': '' }) }}
						</div>
					</div>
					<div class="form-group {{ service.getError('dontShowOnMenu') ? 'has-error' }}">
						{{ C.Html.activeLabel(service, 'dontShowOnMenu', { 'class': 'col-md-2 control-label' }) }}
						<div class="col-md-6">
							{{ C.Html.activeCheckBox(service, 'dontShowOnMenu', { 'class': '' }) }}
						</div>
					</div>
					<div class="form-group {{ service.getError('title') ? 'has-error' }}">
						{{ C.Html.activeLabel(service, 'title', { 'class': 'col-md-2 control-label' }) }}
						<div class="col-md-6">
							{{ C.Html.activeTextField(service, 'title', { 'class': 'form-control' }) }}
						</div>
					</div>
					<div class="form-group {{ service.getError('menuTitle') ? 'has-error' }}">
						{{ C.Html.activeLabel(service, 'menuTitle', { 'class': 'col-md-2 control-label' }) }}
						<div class="col-md-6">
							{{ C.Html.activeTextField(service, 'menuTitle', { 'class': 'form-control' }) }}
						</div>
					</div>
					<div class="form-group {{ service.getError('shortDescription') ? 'has-error' }}">
						{{ C.Html.activeLabel(service, 'shortDescription', { 'class': 'col-md-2 control-label' }) }}
						<div class="col-md-10">
							{{ app.controller.widget('CKEditor', {
								'model': service,
								'attribute': 'shortDescription',
								'language': 'ru',
								'editorTemplate': 'full',
							}, true) | raw }}
						</div>
					</div>
				<div class="form-group {{ service.getError('shortDescriptionAfterHead') ? 'has-error' }}">
					{{ C.Html.activeLabel(service, 'shortDescriptionAfterHead', { 'class': 'col-md-2 control-label' }) }}
					<div class="col-md-10">
						{{ app.controller.widget('CKEditor', {
							'model': service,
							'attribute': 'shortDescriptionAfterHead',
							'language': 'ru',
							'editorTemplate': 'full',
						}, true) | raw }}
					</div>
				</div>
					<div class="form-group {{ service.getError('description') ? 'has-error' }}">
						{{ C.Html.activeLabel(service, 'description', { 'class': 'col-md-2 control-label' }) }}
						<div class="col-md-10">
							{{ app.controller.widget('CKEditor', {
								'model': service,
								'attribute': 'description',
								'language': 'ru',
								'editorTemplate': 'full',
							}, true) | raw }}
						</div>
					</div>
					<div class="form-group {{ service.getError('advancedDescription') ? 'has-error' }}">
						{{ C.Html.activeLabel(service, 'advancedDescription', { 'class': 'col-md-2 control-label' }) }}
						<div class="col-md-10">
							{{ app.controller.widget('CKEditor', {
								'model': service,
								'attribute': 'advancedDescription',
								'language': 'ru',
								'editorTemplate': 'full',
							}, true) | raw }}
						</div>
					</div>
					<div class="form-group {{ service.getError('metaTitle') ? 'has-error' }}">
						{{ C.Html.activeLabel(service, 'metaTitle', { 'class': 'col-md-2 control-label' }) }}
						<div class="col-md-6">
							{{ C.Html.activeTextField(service, 'metaTitle', { 'class': 'form-control' }) }}
						</div>
					</div>
					<div class="form-group {{ service.getError('metaDescription') ? 'has-error' }}">
						{{ C.Html.activeLabel(service, 'metaDescription', { 'class': 'col-md-2 control-label' }) }}
						<div class="col-md-6">
							{{ C.Html.activeTextArea(service, 'metaDescription', { 'class': 'form-control', 'rows': 3, 'cols': 5 }) }}
						</div>
					</div>
					<div class="form-group {{ service.getError('dayPrice') ? 'has-error' }}">
						{{ C.Html.activeLabel(service, 'dayPrice', { 'class': 'col-md-2 control-label' }) }}
						<div class="col-md-6">
							{{ C.Html.activeTextField(service, 'dayPrice', { 'class': 'form-control' }) }}
						</div>
					</div>
					<div class="form-group {{ service.getError('monthPrice') ? 'has-error' }}">
						{{ C.Html.activeLabel(service, 'monthPrice', { 'class': 'col-md-2 control-label' }) }}
						<div class="col-md-6">
							{{ C.Html.activeTextField(service, 'monthPrice', { 'class': 'form-control' }) }}
						</div>
					</div>
				<div class="form-group {{ service.getError('halfMonthPrice') ? 'has-error' }}">
					{{ C.Html.activeLabel(service, 'halfMonthPrice', { 'class': 'col-md-2 control-label' }) }}
					<div class="col-md-6">
						{{ C.Html.activeTextField(service, 'halfMonthPrice', { 'class': 'form-control' }) }}
					</div>
				</div>
					<div class="form-group {{ service.getError('depositPrice') ? 'has-error' }}">
						{{ C.Html.activeLabel(service, 'depositPrice', { 'class': 'col-md-2 control-label' }) }}
						<div class="col-md-6">
							{{ C.Html.activeTextField(service, 'depositPrice', { 'class': 'form-control' }) }}
						</div>
					</div>
				<div class="form-group {{ service.getError('squareMetersPrice') ? 'has-error' }}">
					{{ C.Html.activeLabel(service, 'squareMetersPrice', { 'class': 'col-md-2 control-label' }) }}
					<div class="col-md-6">
						{{ C.Html.activeTextField(service, 'squareMetersPrice', { 'class': 'form-control' }) }}
					</div>
				</div>
				<div class="form-group {{ service.getError('priceBlockTitle') ? 'has-error' }}">
					{{ C.Html.activeLabel(service, 'priceBlockTitle', { 'class': 'col-md-2 control-label' }) }}
					<div class="col-md-6">
						{{ C.Html.activeTextField(service, 'priceBlockTitle', { 'class': 'form-control' }) }}
					</div>
				</div>
				<div class="form-group {{ service.getError('formTitle') ? 'has-error' }}">
					{{ C.Html.activeLabel(service, 'formTitle', { 'class': 'col-md-2 control-label' }) }}
					<div class="col-md-6">
						{{ C.Html.activeTextField(service, 'formTitle', { 'class': 'form-control' }) }}
					</div>
				</div>
				<div class="form-group {{ service.getError('requestFormTitle') ? 'has-error' }}">
					{{ C.Html.activeLabel(service, 'requestFormTitle', { 'class': 'col-md-2 control-label' }) }}
					<div class="col-md-6">
						{{ C.Html.activeTextField(service, 'requestFormTitle', { 'class': 'form-control' }) }}
					</div>
				</div>
					<div class="form-group {{ service.getError('image') ? 'has-error' }}">
						{{ C.Html.activeLabel(service, 'image', { 'class': 'col-md-2 control-label' }) }}
						<div class="col-md-6">
							{{ C.Html.activeFileField(service, 'image', { 'class': 'form-control' }) }}
							{% if not service.hasBgImage() %}
								<div>
									<div class="clearfix">
										{{ C.Html.image(service.getImage(), '', { 'class': 'img-thumbnail', 'style': 'margin: 15px 0 5px; width: 150px;' })|raw }}
									</div>
								</div>
							{% endif %}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="widget box">
								<div class="widget-header">
									<h4><i class="icon-reorder"></i>Блок услуг</h4>
								</div>
								<div class="widget-content">
									<div class="form-group {{ service.getError('showOnServicesBlock') ? 'has-error' }}">
										{{ C.Html.activeLabel(service, 'showOnServicesBlock', { 'class': 'col-md-2 control-label' }) }}
										<div class="col-md-6">
											{{ C.Html.activeCheckBox(service, 'showOnServicesBlock', { 'class': '' }) }}
										</div>
									</div>
									<div class="form-group {{ service.getError('showOnServicesBlockOnMainPage') ? 'has-error' }}">
										{{ C.Html.activeLabel(service, 'showOnServicesBlockOnMainPage', { 'class': 'col-md-2 control-label' }) }}
										<div class="col-md-6">
											{{ C.Html.activeCheckBox(service, 'showOnServicesBlockOnMainPage', { 'class': '' }) }}
										</div>
									</div>
									<div class="form-group {{ service.getError('pImage') ? 'has-error' }}">
										{{ C.Html.activeLabel(service, 'pImage', { 'class': 'col-md-2 control-label' }) }}
										<div class="col-md-6">
											{{ C.Html.activeFileField(service, 'pImage', { 'class': 'form-control' }) }}
											{% if not service.hasPreviewImage %}
												<div>
													<div class="clearfix">
														{{ C.Html.image(service.getPreviewImage(), '', { 'class': 'img-thumbnail', 'style': 'margin: 15px 0 5px; width: 150px;' })|raw }}
													</div>
												</div>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="widget box">
								<div class="widget-header">
									<h4><i class="icon-reorder"></i>Цена аренды</h4>
									<button type="button" class="btn btn-sm btn-primary js-add-price-item">Добавить</button>
								</div>
								<div class="widget-content">
									<table class="table table-hover table-striped table-bordered table-highlight-head">
										<thead>
										<tr>
											<th>Активен</th>
											<th>Показывать в<br>общей таблице</th>
											<th>Название</th>
											<th>Позиция</th>
											<th>Цена за сутки</th>
											<th>Цена за месяц</th>
											<th>Сумма залога</th>
											<th>Действие</th>
										</tr>
										</thead>
										<tbody class="js-prices-box">
										{% for i,price in service.priceItems %}
											{% if price.hasErrors() %}
												<tr>
													<td colspan="6">
														<div class="alert alert-danger">
															{{ C.Html.errorSummary(price) }}
														</div>
													</td>
												</tr>
											{% endif %}
											<tr>
												<td>
													{{ C.Html.activeCheckbox(price, '['~i~']active') }}
													<input type="hidden" value="{{ price.id }}" name="ServicePricesTable[{{ i }}][id]">
												</td>
												<td>
													{{ C.Html.activeCheckbox(price, '['~i~']showOnMainPage') }}
												</td>
												<td>
													<input type="text" value="{{ price.name }}" name="ServicePricesTable[{{ i }}][name]">
												</td>
												<td>
													<input type="text" value="{{ price.position }}" name="ServicePricesTable[{{ i }}][position]">
												</td>
												<td>
													<input type="text" value="{{ price.dayPrice }}" name="ServicePricesTable[{{ i }}][dayPrice]">
												</td>
												<td>
													<input type="text" value="{{ price.monthPrice }}" name="ServicePricesTable[{{ i }}][monthPrice]">
												</td>
												<td>
													<input type="text" value="{{ price.depositPrice }}" name="ServicePricesTable[{{ i }}][depositPrice]">
												</td>
												<td>
													<a href="{{ app.createUrl('/admin/services/deletePriceItem', { id: example.id }) }}" class="btn btn-xs js-delete-price-item"><i class="icon-trash"></i></a>
												</td>
											</tr>
										{% endfor %}
										<tr class="price-tmp hidden">
											<td>
												{{ C.Html.checkbox('ServicePricesTable[#i#][active]', 'checked') }}
												<input type="hidden" value="" name="ServicePricesTable[#i#][id]">
											</td>
											<td>
												{{ C.Html.checkbox('ServicePricesTable[#i#][showOnMainPage]') }}
											</td>
											<td>
												<input type="text" value="" name="ServicePricesTable[#i#][name]">
											</td>
											<td>
												<input type="text" value="" name="ServicePricesTable[#i#][position]">
											</td>
											<td>
												<input type="text" value="" name="ServicePricesTable[#i#][dayPrice]">
											</td>
											<td>
												<input type="text" value="" name="ServicePricesTable[#i#][monthPrice]">
											</td>
											<td>
												<input type="text" value="" name="ServicePricesTable[#i#][depositPrice]">
											</td>
											<td><a href="{{ app.createUrl('/admin/services/deletePriceItem', { id: '#i#' }) }}" class="btn btn-xs js-delete-price-item"><i class="icon-trash"></i></a></td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="widget box">
								<div class="widget-header">
									<h4><i class="icon-reorder"></i>Цена продажи</h4>
									<button type="button" class="btn btn-sm btn-primary js-add-price-item">Добавить</button>
								</div>
								<div class="widget-content">
									<table class="table table-hover table-striped table-bordered table-highlight-head">
										<thead>
										<tr>
											<th>Активен</th>
											<th>Показывать в<br>общей таблице</th>
											<th>Название</th>
											<th>Позиция</th>
											<th>Цена руб. (б/у)</th>
											<th>Цена руб. (новые)</th>
											<th>Вес, кг</th>
											<th>Действие</th>
										</tr>
										</thead>
										<tbody class="js-prices-box">
										{% for i,price in service.sellPriceItems %}
											{% if price.hasErrors() %}
												<tr>
													<td colspan="6">
														<div class="alert alert-danger">
															{{ C.Html.errorSummary(price) }}
														</div>
													</td>
												</tr>
											{% endif %}
											<tr>
												<td>
													{{ C.Html.activeCheckbox(price, '['~i~']active') }}
													<input type="hidden" value="{{ price.id }}" name="ServiceSellPricesTable[{{ i }}][id]">
												</td>
												<td>
													{{ C.Html.activeCheckbox(price, '['~i~']showOnMainPage') }}
												</td>
												<td>
													<input type="text" value="{{ price.name }}" name="ServiceSellPricesTable[{{ i }}][name]">
												</td>
												<td>
													<input type="text" value="{{ price.position }}" name="ServiceSellPricesTable[{{ i }}][position]">
												</td>
												<td>
													<input type="text" value="{{ price.usedPrice }}" name="ServiceSellPricesTable[{{ i }}][usedPrice]">
												</td>
												<td>
													<input type="text" value="{{ price.newPrice }}" name="ServiceSellPricesTable[{{ i }}][newPrice]">
												</td>
												<td>
													<input type="text" value="{{ price.weight }}" name="ServiceSellPricesTable[{{ i }}][weight]">
												</td>
												<td>
													<a href="{{ app.createUrl('/admin/services/deleteSellPriceItem', { id: example.id }) }}" class="btn btn-xs js-delete-price-item"><i class="icon-trash"></i></a>
												</td>
											</tr>
										{% endfor %}
										<tr class="price-tmp hidden">
											<td>
												{{ C.Html.checkbox('ServiceSellPricesTable[#i#][active]', 'checked') }}
												<input type="hidden" value="" name="ServiceSellPricesTable[#i#][id]">
											</td>
											<td>
												{{ C.Html.checkbox('ServiceSellPricesTable[#i#][showOnMainPage]') }}
											</td>
											<td>
												<input type="text" value="" name="ServiceSellPricesTable[#i#][name]">
											</td>
											<td>
												<input type="text" value="" name="ServiceSellPricesTable[#i#][position]">
											</td>
											<td>
												<input type="text" value="" name="ServiceSellPricesTable[#i#][usedPrice]">
											</td>
											<td>
												<input type="text" value="" name="ServiceSellPricesTable[#i#][newPrice]">
											</td>
											<td>
												<input type="text" value="" name="ServiceSellPricesTable[#i#][weight]">
											</td>
											<td><a href="{{ app.createUrl('/admin/services/deleteSellPriceItem', { id: '#i#' }) }}" class="btn btn-xs js-delete-price-item"><i class="icon-trash"></i></a></td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-6 col-md-offset-2">
							{{ C.Html.submitButton('Сохранить', { 'class': 'btn btn-primary js-prices-save-button' }) }}
						</div>
					</div>
				{{ C.Html.endForm() }}
			{% endautoescape %}
		</div>
	</div>
{% endblock %}
