<div class="widget box">
    <div class="widget-content">
        <form class="form-vertical row-border">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <select id="filter-role" class="form-control">
                            <option value="">Выберите роль</option>
                            {% for name, descr in roles %}
                                <option value="{{ name }}" {% if name == role %}selected="selected"{% endif %}>{{ descr }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        var $filterRole = $('#filter-role');

        $filterRole.on('change', function(e) {
            document.location = '/admin/users/' + (this.value == '' ? '' : this.value + '/');
            return;
        });
    });
</script>